@model MeetingManagement.Models.MEETING
@{
    ViewBag.Title = "Chi tiết cuộc hop";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Icons font CSS-->

    <link href="~/Content/taocuochop/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/taocuochop/vendor/font-awesome-4.7/css/font-awesome.css" rel="stylesheet" />

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Vendor CSS-->

    <link href="~/Content/taocuochop/vendor/select2/select2.min.css" rel="stylesheet" />

    <link href="~/Content/taocuochop/vendor/datepicker/daterangepicker.css" rel="stylesheet" />
    <!-- Main CSS-->

    <link href="~/Content//taocuochop/css/main.css" rel="stylesheet" />
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <body class="body-img">
        <div class="body-navbar">
            @*<button type="button" onclick="window.location.href='@Url.Action("Index", "MainPage")'" class="btn yuki-btn-blue>
            ❮   Back to List
        </button>*@
            <div class="nav-content-zone">
                <img src="~/Content/Picture/users_meeting.png" />
                <div class="lable-zone">
                    New Meeting
                </div>
                </div>

            </div>
        <div class="card-body card-body-fixed">
            @using (Ajax.BeginForm("Taocuochop", "Categories", new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateSuccess" }, new { @class = "form-horizontal", @id = "createformid", role = "form" }))
            {
                @Html.HiddenFor(model => model.Category_id, new { @id = "category_id" })
                @Html.HiddenFor(model => model.Meeting_id, new { @id = "meeting_id" })
                @Html.HiddenFor(model => model.Status, new { @id = "status" })

                @Html.HiddenFor(model => model.Create_by)
                <div class="form-row form-row-fixed form-row-fixed-title">
                    <div>
                        <img src="~/Content/Picture/outline_title_black_24dp.png" />
                    </div>
                    <div class="value value-fixed">
                        <div class="input-group input_fixed value-fixed-title">
                            @Html.TextBoxFor(model => model.Meeting_name, new { @class = "input--style-5-fixed", @id = "meeting_name" })
                        </div>
                    </div>
                </div>
                <div class="form-row form-row-fixed datetime-inline">
                    <img src="~/Content/Picture/outline_schedule_black_24dp.png" />
                    <div class="value value-fixed" style="width: calc(100% - 34px)">
                        <div class="inline-datetime">
                            <div class="col-2">
                                <div class="input-group-desc">
                                    @Html.TextBoxFor(model => model.Date_Start, new { @class = "input--style-5-fixed", @type = "date" })
                                    @Html.ValidationMessageFor(model => model.Date_Start, "", new { @class = "text-danger" })
                                    @*<label class="label--desc">Ngày Họp</label>*@
                                    @*@Html.DisplayFor(model => model.Date_Start)*@
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group-desc">
                                    @Html.TextBoxFor(model => model.Time_Start, new { @class = "input--style-5-fixed", @type = "time" })
                                    @Html.ValidationMessageFor(model => model.Time_Start, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
        -->
                <div class="form-row form-row-fixed datetime-inline">
                    <img src="~/Content/Picture/outline_place_black_24dp.png" />
                    <div class="value value-fixed value-fixed-location">
                        <div style="width:100%">
                            <div class="input-group input_fixed">
                                @Html.TextBoxFor(model => model.Location, new { @class = "input--style-5-fixed", @id = "location" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row form-row-fixed">
                    <div> <img src="~/Content/Picture/outline_edit_black_24dp.png" /></div>
                    <div class="value value-fixed">
                        <div class="input-group input_fixed">
                            @Html.TextAreaFor(model => model.Meeting_content, new { @class = "input--style-5-fixed area-input", @rows = "5", @id = "content" })
                        </div>
                    </div>
                </div>
                <div class="form-row" style="margin-bottom:20px;">
                    <img src="~/Content/Picture/outline_people_black_24dp.png" />
                    <div style="margin-left:10px;">
                        <div style="display: inline-flex;">
                            <p>Người tham dự</p>
                        </div>
                        <button style="color: white; margin-left: 10px;" onclick="getCreateModal()" class="btn yuki-btn-blue">
                            <p>
                                Thêm thành viên
                            </p>
                        </button>
                    </div>
                </div>
                <ul style="width:50%" class="w3-ul w3-border create-user-scroll" id="pickedUser">
                    @Html.HiddenFor(m => m.AspNetUser.Full_name)
                </ul>
                <div style="height:50px;"></div>
                <div class="form-row">
                    <input style="width: fit-content; margin-right: 10px;" type="checkbox" class="btn btn-info" data-toggle="collapse" data-target="#demo" value="Simple collapsible" />
                    <div>
                        <div style="display: inline-flex; align-items: center; position: relative; left: 10px; ">
                            <p >Người ngoài trường</p>
                            <div style="margin-left: 20px;" id="demo" class="collapse">
                                <button style="color:white" onclick="" class="btn yuki-btn-blue">
                                    <p>
                                        Thêm
                                    </p>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="name">Tài Liệu Đính Kèm:</div>
                    <div>
                        <div class="form-group">
                            <input type="file" class="form-control-file border" multiple id="file" name="Files" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn--blue btn-lg btn-block" id="create" data-toggle="modal">Tạo</button>
                </div>
            }
        </div>
        <div id="Popup"></div>
    </body>
}
</html>

@*override site.css*@
<style>
    input {
        max-width: none;
    }

    textarea {
        max-width: none;
    }

    .col-2 {
        width: 150px;
        display: inline-block;
    }

    .col-500 {
        width: 500px;
        display: inline-block;
        position: absolute;
    }
</style>

@*override button.less*@
<style>
    .inline-datetime {
        display: inline-flex;
    }

    .inline-location {
        margin-left: 50px;
        position: absolute;
        display: inline-block;
        width: 600px;
        height: 40px;
    }

    .button-zone {
        display: inline-block;
        position: absolute;
        right: 30px;
        margin: 3px 0px;
    }

    .lable-zone {
        display: inline-block;
        position: absolute;
        left: 80px;
        color: black;
        line-height: 40px;
    }

        .lable-zone label {
            font-size: 18px !important;
        }

    .body-navbar {
        width: calc(100% - 150px);
        height: 60px;
        background: white;
        border-bottom: 1px solid #f1f1f1;
        z-index: 10;
        position: fixed;
        color: white;
        top: 50px;
        left: 150px;
    }

    .nav-content-zone {
        position: relative;
        top: 10px;
        left: 20px;
    }

    .body-navbar div img {
        width: 40px;
        height: 40px;
        padding: 2px;
        border: 1px solid grey;
        border-radius: 10px;
        position: absolute;
        left: 30px;
    }

    .card-body-fixed {
        position: relative;
        top: 50px;
        width: 1300px;
        height: 800px;
    }

    .yuki-card-footer {
        text-align: center;
        padding-bottom: 20px;
    }

    .btn-fixed {
        color: white;
        font-size: 14px;
        display: inline-block;
        width: 8em;
        height: 4em;
        text-align: center;
        border-radius: 4px;
    }

    .yuki-btn-blue {
        background-color: #009FE5 !important;
    }

    .yuki-btn-gray {
        background-color: #808080 !important;
    }

        .yuki-btn-gray:hover {
        }
</style>
<style>
    textarea:focus {
        outline: 0px !important;
        border: 2px solid #009fe5 !important;
    }
</style>
<style>
    .back-button {
        font-family: Mulish;
        background: #009FE5;
        color: white;
        width: 150px;
        height: 50px;
        border-radius: 10px;
    }

    .card-heading-fixed {
        background: #009FE5 !important;
    }
</style>
<style>
    .datetime-inline {
        width: 500px;
        display: inline-flex;
        align-items: center;
    }

    .input--style-5-fixed {
        background: #f1f1f1;
        height: 40px;
        line-height: 40px;
        border: 2px solid white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0 22px;
        color: #555;
    }

    .value-fixed-title {
        width: calc(1000px - 34px) !important;
    }

    .value-fixed-location {
        width: calc(100% - 34px) !important
    }

    .value-fixed {
        margin-left: 10px;
    }

    .form-row-fixed {
        margin: 0 0 10px 0;
    }

    .form-row-fixed-title {
        width: calc(1000px - 34px);
    }

    .form-row img {
        height: 24px;
        opacity: 0.7;
        display: inline-block;
        width: 24px;
    }

    .area-input {
        margin: 0px;
        width: calc(1000px - 34px);
        height: 250px;
        border: 2px solid white;
    }

    .input_fixed {
        width: 100%;
        height: 30px;
    }

    .row-space-fixed:after {
        content: none;
    }

    .row-space-fixed:before {
        content: none;
    }

    .row-space-fixed {
        margin: 0px;
    }

    .input-new:focus {
        border: 2px solid #009fe5;
    }

    .input--style-5-fixed:focus {
        border: 2px solid #009fe5;
    }

    .input-margin {
        margin-left: 50px;
    }
    /*    .body-content {
        background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/51/78/dltnIv.jpg");
    }*/
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    $(() => {
        if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
            sessionStorage.clear();
        }
    });
    function getCreateModal() {
        $.ajax({
            url: "@Url.Action("CreateUser", "MEETINGs")",
            datatype: 'html',
            method: 'GET',
            success: function (data) {
                $("#Popup").html(data);

                $("#modalCreate").modal("show");
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    ;
    function getCreateModal2() {
        $.ajax({
            url: "CreateUser2",
            datatype: 'html',
            method: 'GET',
            data: {},
            success: function (data) {
                $("#Popup2").html(data);

                $("#modalCreate2").modal("show");
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    ;

</script>
@section scripts{
    <script type="text/javascript">
        $(() => {
            $('#txtSearch').on('keyup', () => {
                var input, filter, ul, li, i, txtValue;
                input = document.getElementById("txtSearch");
                filter = input.value.toUpperCase();
                ul = document.getElementById("userbox");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    txtValue = li[i].textContent || li[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "flex";
                    } else {
                        li[i].style.display = "none";
                    }
                }



            });
            $("#modalCreate").on("hidden.bs.modal", function () {
                sessionStorage.clear();
            });
        });



        $(() => {



            if (sessionStorage.getItem("user") != null) {



                var user = JSON.parse(sessionStorage.getItem("user"));
                var user_length = Object.keys(user).length;
                for (var i = 0; i < user_length; i++) {
                    $("#pickbox").append('<li id= "li' + i + '">' + JSON.parse(sessionStorage.getItem("user"))[i] + '</li>')



                }
            }
            $("#hiden").hide();
        });
        function AddUser() {
            if (sessionStorage.getItem("user") != null) {
                var user = JSON.parse(sessionStorage.getItem("user"));
                var user_length = Object.keys(user).length;
                for (var i = 0; i < user_length; i++) {
                    $("#pickedUser").append('<li id= "li' + i + '">' + JSON.parse(sessionStorage.getItem("user"))[i] + '</li>')

                }
                var userArr = [];
                ul = document.getElementById("pickedUser");
                li = ul.getElementsByTagName("li");
                for (var i = 0; i < li.length; i++) {
                    userArr.push(li[i].innerText)
                }
                $("#AspNetUsers").val(userArr);
                $("#modalCreate").modal("hide");
            }
            else {
                alert("Bạn chưa thêm người tham dự");
            }
        }
        function getchecked(id) {
            var userArray = [];
            var item = $('#' + id);
            if (item.prop("checked") == false) {
                item.prop("checked", true);
                userArray.push(item.val());
                sessionStorage.setItem("user", JSON.stringify(userArray));
                $("#pickbox").append('<li id= "li' + id + '">' + item.val() + '</li>');
                $("#hiden").show();

            }
            else if (item.prop("checked") == true) {
                item.prop("checked", false);
                var remove_item = item.val();
                $("#li" + id).remove();
                userArray = $.grep(userArray, function (value) {
                    return value != remove_item;
                });
                if (userArray == 0) {
                    $("#hiden").hide();
                }
                sessionStorage.setItem("user", JSON.stringify(userArray));
            }
        }
    </script>
}