@using MeetingManagement.Models;
@{
    var meeting_id = ViewBag.Meeting;
    var create_by = ViewBag.IsCreateBy;
    var tasks = ViewBag.Task as List<TASK>;
    var index = 0;
    var percent = 0;
    var final = 0;
    if (tasks.Count != 0)
    {
        foreach (var task in tasks)
        {
            if (task.Task_Status == true)
            {
                percent += 1;
            }
        }

        final = (percent * 100) / tasks.Count;
    }

}
<head>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
@if (tasks.Count == 0)
{
    <p>Cuộc họp chưa có công việc</p>
    <div class="button-zone" style=" position: absolute; top: -10px; right: 0px;">
        <a class="btn button-create" style="background-color:#009fe5; color:white; display:inline-flex;" onclick="getCreateModal(@meeting_id)">Tạo</a>
    </div>
}
else
{

    <div id="container">
        <div class="progress-bar-zone">
            <p>Tiến độ</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @final%;">
                    @final %
                </div>
            </div>

        </div>
        <div class="button-zone" style=" position: absolute; top: -10px; right: 0px;">
            <a class="btn button-create" style="background-color:#009fe5; color:white; display:inline-flex;" onclick="getCreateModal(@meeting_id)">Tạo</a>
        </div>
        <div class="table-pos">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tóm lược</th>
                        <th class="col-align" scope="col">Giao cho</th>
                        <th class="col-align" scope="col">Ngày đến hạn</th>
                        <th class="col-align" scope="col">Tình trạng</th>
                        <th class="col-align" scope="col">Thao tac</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in tasks)
                    {
                        index++;
                        var tr_bg = (item.Task_Status == true) ? "background-color:#f1f1f1;" : "cursor: pointer;";

                        <tr id="this_tr" style="@tr_bg">
                            <td>@index</td>
                            <td>@item.Task_name</td>
                            <td class="col-align">@item.MEMBER.AspNetUser.Email</td>
                            <td class="col-align">@item.Task_Deadline</td>
                            <td class="col-align" id="status">
                                @if (item.Task_Status == false)
                                {
                                    <div class="unfinished-status">Chưa hoàn thành</div>
                                }
                                else if (item.Task_Status == true)
                                {
                                    <div class="finished-status">Hoàn thành</div>
                                }
                            </td>
                            <td class="col-align">
                                @if (create_by)
                                {

                                }
                                else
                                {
                                    if (item.Task_Status == false)
                                    {
                                        <span id="option">
                                            <i class="fa fa-ellipsis-h">
                                                <ul class="sublist">
                                                    <li>
                                                        <a class="fa fa-bell"></a>
                                                    </li>
                                                    <li>
                                                        <a aria-hidden="true"
                                                           class="edit-btn fa fa-pencil-square"
                                                           onclick="getEditModal(@item.Task_id)"></a>
                                                    </li>
                                                    <li>
                                                        <a aria-hidden="true"
                                                           class="fa fa-trash"
                                                           onclick="return confirm('Bạn có muốn xoá công việc này?')"
                                                           href="@Url.Action("Delete","Tasks",new {TaskID = item.Task_id })"></a>
                                                    </li>
                                                </ul>
                                            </i>
                                        </span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <style>

            .progress-bar-zone {
                display: inline-flex;
                width: 25%;
                position: absolute;
                left: 0px;
            }

                .progress-bar-zone p {
                    width: inherit;
                }

                .progress-bar-zone div {
                    height: 20px;
                    width: 100%;
                    display: inline-flex;
                }

                    .progress-bar-zone div div {
                        background-color: #009FE5;
                    }

            .w400 td {
                width: 400px;
            }

            .table-pos {
                position: relative;
                top: 40px;
            }

            table {
            }

                table thead {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }

                    table thead tr {
                        background-color: #009FE5;
                        color: white;
                    }

                        table thead tr th:first-child {
                            width: 50px;
                        }

                table tbody {
                    display: block;
                    overflow-y: overlay;
                    max-height: 250px;
                }

                    table tbody tr {
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                    }

                        table tbody tr td:first-child {
                            width: 50px;
                        }

                        table tbody tr td img {
                            width: 24px;
                        }

            .finished-status {
                background: #18e750;
                border-radius: 10px;
                color: white;
                margin: auto;
                text-align: center;
                width: 100px;
            }


            .unfinished-status {
                background: #FF9900;
                border-radius: 10px;
                color: white;
                margin: auto;
                text-align: center;
                width: 140px;
            }

            .col-align {
                text-align: center;
            }
        </style>
    </div>
    
}
<div id="Popup"></div>
<script type="text/javascript">
     function getCreateModal(id) {
         $.ajax({
             url: "@Url.Action("Create","Tasks")",
             datatype: 'html',
             method: 'GET',
             data: { MeetingID: id },
             success: function (data) {
                 $("#Popup").html(data);
                 $("#TaskCreateModal").appendTo("body").modal("show");
             },
             error: function (err) {
                 console.log(err);
             }
         });
    };

    function getEditModal(id) {
        $.ajax({
            url:"@Url.Action("Edit","Tasks")",
            datatype: 'html',
            method: 'GET',
            data: { TaskID: id },
            success: function (data) {
                $("#Popup").html(data);
                $("#TaskEditModal").appendTo("body").modal("show");
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>