@model MeetingManagement.Models.MEETING

@{
    ViewBag.Title = "MeetingInfo";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var is_modify = (ViewBag.modify == true) ? "" : "display:none";
    var is_preview = (ViewBag.modify == false) ? "" : "display:none";
}


@Html.AntiForgeryToken()

<body>
    <div class="body-navbar">
        <div class="nav-content-zone">
            <img src="~/Content/Picture/users_meeting.png" />
            <div class="lable-zone" style="display:flex;">
                <div style="display: inline-flex">
                    @Html.Label(Model.CATEGORY.Category_Name)
                </div>
                @if (Model.MEETING_STATUS.Status_id == 1 && ViewBag.modify == false)
                {
                    <div class="detail-tab-btn tablinks" style="width:80px;padding:0;" onclick="openTab(event,'meeting-info')">
                        Chi tiết
                    </div>
                    <div class="pending-status">@Model.MEETING_STATUS.Status_name</div>
                }
                @if (Model.MEETING_STATUS.Status_id == 7)
                {
                    <div class="detail-tab-btn tablinks" onclick="openTab(event,'meeting-info')">
                        Chi tiết
                    </div>
                    <div class="detail-tab-btn tablinks" onclick="openTab(event,'meeting-task')">
                        Công việc
                    </div>
                    @*<div class="cancel-status">@Model.MEETING_STATUS.Status_name</div>*@
                }
                else if (Model.MEETING_STATUS.Status_id != 1 && ViewBag.modify == false)
                {
                    <div class="detail-tab-btn tablinks" onclick="openTab(event,'meeting-info')">
                        Chi tiết
                    </div>
                    <div id="task-layout" class="detail-tab-btn tablinks " onclick="openTab(event,'meeting-task')">
                        Công việc
                    </div>
                    @*<div class="detail-tab-btn tablinks" onclick="openTab(event,'meeting-report')">
                            Báo cáo
                        </div>*@
                }
                else if (ViewBag.modify == true)
                {
                    <div class="detail-tab-btn tablinks" onclick="openTab(event,'meeting-info-edit')">
                        Chi tiết
                    </div>
                    @*<div class="detail-tab-btn tablinks" onclick="openTab(event,'meeting-member')">
                            Thành viên
                        </div>*@
                    <div class="detail-tab-btn tablinks " onclick="openTab(event,'meeting-task')">
                        Công việc
                    </div>
                    @*<div class="detail-tab-btn tablinks" onclick="openTab(event,'meeting-report')">
                            Báo cáo
                        </div>*@
                    if (ViewBag.user_identity == Model.Create_by)
                    {
                        <div onclick="getCancelModel(1)" style="right: calc( 0% + 30px ); position: fixed;">
                            <a class="cancel-btn">
                                Hủy cuộc họp
                            </a>
                        </div>
                    }

                }
            </div>
            @*<div class="button-zone">
                    <a class="btn button-close" onclick="location.href ='@Url.Action("Index", "MEETINGs")';">Close</a>
                </div>*@
        </div>
    </div>
    @*<div style=" width: 100%; height: 35px; background-color: wheat; position: fixed; top: 110px; left: 150px; z-index:10"></div>
        <div style="height:30px"></div>*@
    <div id="meeting-info" class="tabcontent" style="@is_preview">
        @Html.Action("MeetingInfo", "Meetings", new { Model.Meeting_id })
    </div>
    @*<div id="meeting-member" class="tabcontent" style="display:none">
            @Html.Action("MeetingMember", "Meetings", new { Model.Meeting_id })
        </div>*@
    <div id="meeting-task" class="tabcontent" style="display:none;">
        @Html.Action("MeetingTask", "Meetings", new { Model.Meeting_id })
    </div>
    <div id="meeting-report" class="tabcontent" style="display:none;">
        @Html.Action("MeetingReport", "Meetings", new { Model.Meeting_id })
    </div>
    <div id="meeting-info-edit" class="tabcontent" style="@is_modify">
        @if (ViewBag.user_identity == Model.Create_by && Model.Status < 6)
        {
            @Html.Action("MeetingEdit", "Meetings", new { Model.Meeting_id })
        }
        else
        {
            @Html.Action("MeetingInfo", "Meetings", new { Model.Meeting_id })
        }
    </div>
</body>
<div id="Feedback"></div>

<script>
    function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<style>
    /*cancel-btn*/
    .cancel-btn {
        width: 100px;
        height: 40px;
        background-color: #ff4d4d;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer
    }

        .cancel-btn:hover {
            color: white;
            text-decoration: none;
        }



    /*    .button-close {
        color: #212529;
        border-color: #212529;
    }

        .button-close:hover {
            background: #f1f1f1;
        }*/

    .detail-tab-btn {
        margin-right: 10px;
    }
</style>
