<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VanLangMeeting</title>
    <link rel="stylesheet" href="~/Content/normalize.css" />
    <link rel="stylesheet" href="~/Content/The-Last-Style-Blender.css" />
    <link href="~/Content/HomePage.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial");
            </div>
        </div>*@

    <div id="yuki-nav-bar">
        <div>
            <a href="#"><img src="https://www.vanlanguni.edu.vn/images/2020/HE_THONG_LOGO_CUA_TRUONG-02.png" alt="Văn Lang University"></a>
        </div>
        <div class="yuki-login-info">
            @{Html.RenderPartial("~/Views/Shared/_LoginPartial.cshtml");}
        </div>
    </div>

    <div id="yuki-menu">
        <ul>
            <li><a href="@Url.Action("Index","HomePage")">Trang chính</a></li>
            <li><a href="@Url.Action("Index","categories")">Danh mục</a></li>
            <li><a href="@Url.Action("Index","Meetings")">Cuộc họp của tôi</a></li>
 
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer id="yuki-footer">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
