@model MeetingManagement.Models.TASK
<div class="modal fade" id="TaskCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tạo công việc</h4>
            </div>
            @using (Ajax.BeginForm("Create", "Tasks", new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateSuccess" }, new { @class = "form-horizontal", @id = "createformid", role = "form" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    @Html.HiddenFor(m => m.Meeting_id)
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            @Html.TextBoxFor(m => m.Task_name, new { @class = "form-control", @placeholder = "Tên công việc" })
                            @Html.ValidationMessageFor(m => m.Task_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-8 col-md-offset-2">
                            @Html.DropDownList("Asignee", (IEnumerable<SelectListItem>)ViewBag.Meeting_id, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            @Html.TextBoxFor(m => m.Task_Deadline, new { @class = "form-control", @type = "date"})
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Tạo</button>
                </div>
            }

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
