@model IEnumerable<MeetingManagement.Models.MEETING>
@using MeetingManagement.Models;

@{
    ViewBag.Title = "Trang Chính";

    DateTime Date = DateTime.Now.Date;

}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body id="yuki-body" style="overflow-x: hidden;">
    @*    <div class="row" style="margin-bottom:15px;">
            <div class="col-sm-12">
                <div class="form-inline pull-right">
                    <label>Search</label>
                    <input type="text" class="form-control" id="txtSearch" />
                    <button type="button" class="btn btn-success" data-toggle="modal" onclick="getCreateModal()">Create New</button>
                </div>
            </div>
        </div>*@

    <div class="yuki-table-zone">
        <div class="yuki-table-title">
            <p>Cuộc Họp Chờ Duyệt</p>
        </div>
        <div class="yuki-table-out-header yuki-column-5">
            <ul style="cursor:pointer">
                <li onclick="sortTable(0,1)">
                    Danh mục
                    <i class='fa fa-sort'></i>
                    @*<button class="filter">
                            <img src="~/Content/outline_filter_alt_black_24dp.png">
                        </button>*@
                </li>
                <li onclick="sortTable(1,1)">
                    Cuộc họp
                    <i class='fa fa-sort'></i>
                    @*<button class="filter">
                            <img src="~/Content/outline_filter_alt_black_24dp.png">
                        </button>*@
                </li>
                <li onclick="sortTable(2,1)">
                    Người chủ trì
                    <i class='fa fa-sort'></i>
                    @*<button class="filter">
                            <img src="~/Content/outline_filter_alt_black_24dp.png">
                        </button>*@
                </li>
                <li onclick="sortTable(3,1)">
                    Ngày tạo
                    <i class='fa fa-sort'></i>
                    @*<button class="filter">
                            <img src="~/Content/outline_filter_alt_black_24dp.png">
                        </button>*@
                </li>
                <li>
                    Thao tác
                </li>
            </ul>
        </div>
        <table class="yuki-table" id="table-sort-1">
            @foreach (var meeting in Model)
            {
                if (meeting.Status == 1)
                {
                    <tr class="yuki-column-5">
                        <td>@meeting.CATEGORY.Category_Name</td>
                        <td>@meeting.Meeting_name</td>
                        <td>@meeting.AspNetUser.Email</td>
                        <td>@Convert.ToDateTime(meeting.Date_Create).ToString("MM/dd/yyyy")</td>
                        <td>
                            <a style="cursor:pointer;" onclick="location.href = '@Url.Action("VerifyMeeting","MainPage", new { id = meeting.Meeting_id })';">Chi tiết</a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>


    <!---Table 1-->

    <div class="yuki-table-zone">
        <div class="yuki-table-title">
            <p>Cuộc Họp Chưa Hoàn Thành</p>
        </div>
        <div class="yuki-table-out-header" style="cursor:pointer">
            <ul class="yuki-column-5">
                <li onclick="sortTable(0,2)">
                    Danh mục
                    <i id='col1' class='fa fa-sort'></i>
                </li>
                <li onclick="sortTable(1,2)">
                    Cuộc họp
                    <i id='col1' class='fa fa-sort'></i>
                </li>
                <li onclick="sortTable(2,2)">
                    Ngày họp
                    <i id='col1' class='fa fa-sort'></i>
                </li>
                <li onclick="sortTable(3,2)">
                    Tình trạng
                    <i id='col1' class='fa fa-sort'></i>
                </li>
                <li>
                    Thao tác
                </li>
            </ul>
        </div>
        <table class="yuki-table" id="table-sort-2">
            @foreach (var meeting in Model)
            {
                if (meeting.Status == 3 || meeting.Status == 4 && meeting.Verify_by == ViewBag.user_identity)
                {
                    var check_date = (Date > meeting.Date_Start) ? "color:red" : "";
                    <tr id="column-tr-meeting" class="yuki-column-5">
                        <td>@meeting.CATEGORY.Category_Name</td>
                        <td>@meeting.Meeting_name</td>
                        <td>
                            @*<i style="z-index:10" onclick="alert('aaaaa')" id="bell" class="fas fa-bell"></i>*@
                            @Convert.ToDateTime(meeting.Date_Start).ToString("MM/dd/yyyy")
                        </td>
                        @*<td>@meeting.MEETING_STATUS.Status_name</td>*@
                        <td style="line-height: normal; display: flex;">
                            @if (meeting.Status == 3)
                            {
                                <div class="missing-status">@meeting.MEETING_STATUS.Status_name</div>
                            }
                            else if (meeting.Status == 4)
                            {
                                <div class="incomplete-status">@meeting.MEETING_STATUS.Status_name</div>
                            }
                        </td>
                        <td>
                            <a onclick="location.href = '@Url.Action("VerifyMeeting", "MainPage", new { id = meeting.Meeting_id })';" style="cursor: pointer;padding-right:10px ">Chi tiết</a>
                            @if (meeting.Status == 3)
                            {
                                @*<a onclick="notify(@meeting.Meeting_id)" style="cursor: pointer;">Nhắc nhở</a>*@
                                if (meeting.Notify == true)
                                {
                                    <a id="notify" onclick="notify(@meeting.Meeting_id)" style="color:#2c1e1e;cursor: pointer;">Nhắc nhở</a>
                                }
                                else
                                {
                                    <a id="notify" onclick="notify(@meeting.Meeting_id)" style="cursor: pointer;">Nhắc nhở</a>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div> <!---Table 2-->
</body>
<script>
    function sortTable(n,t) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("table-sort-" + t);
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 0; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()
                        @*&& Number(x.innerHTML) > Number(y.innerHTML)*@ ) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()
                        @*&& Number(x.innerHTML) < Number(y.innerHTML)*@) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>*@

<script type="text/javascript">
    function notify(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Notify", "MainPage")',
            data: { id },
            success: function () {
                alert("Thông báo thành công!")
                window.location.href = '@Url.Action("Index","MainPage")'
        }
    })
    }
</script>
<style>
    .body-content {
        width: calc(100% - 150px ) !important;
    }
</style>