@model IEnumerable<MeetingManagement.Models.MEETING>
@{
        ViewBag.Title = "Index";
}
    <body id="yuki-body">
        @*<div class="row" style="margin-bottom:15px;">
            <div class="col-sm-12">
                <div class="form-inline pull-right">
                    <label>Search</label>
                    <input type="text" class="form-control" id="txtSearch" />
                    <button type="button" class="btn btn-success" data-toggle="modal" onclick="getCreateModal()">Create New</button>
                </div>
            </div>
        </div>*@
        <div class="yuki-table-zone">
            <div class="yuki-table-title">
                <p>Cuộc Họp Chờ Duyệt</p>
            </div>
            <div class="yuki-table-out-header">
                <ul class="yuki-column-4">
                    <li>
                        Danh mục
                        @*<button class="filter">
                        <img src="~/Content/outline_filter_alt_black_24dp.png">
                    </button>*@
                    </li>
                    <li>
                        Cuộc họp
                        @*<button class="filter">
                        <img src="~/Content/outline_filter_alt_black_24dp.png">
                    </button>*@
                    </li>
                    <li>
                        Người chủ trì
                        @*<button class="filter">
                        <img src="~/Content/outline_filter_alt_black_24dp.png">
                    </button>*@
                    </li>
                    <li>
                        Ngày tạo
                        @*<button class="filter">
                        <img src="~/Content/outline_filter_alt_black_24dp.png">
                    </button>*@
                    </li>
                </ul>
            </div>
            <table class="yuki-table">
                @foreach (var meeting in Model)
                {
                    if (meeting.Status == 1)
                    {
                        <tr class="yuki-column-4" onclick="location.href = '@Url.Action("VerifyMeeting","MainPage", new { id = meeting.Meeting_id })';" style="cursor: pointer;">
                            <td>@meeting.CATEGORY.Category_Name</td>
                            <td>@meeting.Meeting_name</td>
                            <td>@meeting.AspNetUser.Full_name</td>
                            <td>@meeting.Date_Create.GetValueOrDefault().ToShortDateString()</td>
                        </tr>
                    }
                }
            </table>
        </div> <!---Table 1-->

        <div class="yuki-table-zone">
            <div class="yuki-table-title">
                <p>Cuộc Họp Chưa Hoàn Thành</p>
            </div>
            <div class="yuki-table-out-header">
                <ul class="yuki-column-4">
                    <li>
                        Danh mục
                        @*<button class="filter">
                            <img src="~/Content/outline_filter_alt_black_24dp.png">
                        </button>*@
                    </li>
                    <li>
                        Cuộc họp
                        @*<button class="filter">
                            <img src="~/Content/outline_filter_alt_black_24dp.png">
                        </button>*@
                    </li>
                    <li>
                        Ngày đến hạn
                        @*<button class="filter">
                            <img src="~/Content/outline_filter_alt_black_24dp.png">
                        </button>*@
                    </li>
                    <li>
                        Tình trạng
                        @*<button class="filter">
                            <img src="~/Content/outline_filter_alt_black_24dp.png">
                        </button>*@
                    </li>
                </ul>
            </div>
            <table class="yuki-table">
                @foreach (var meeting in Model)
                {
                    if (meeting.Status > 2 && meeting.Status < 5)
                    {
                    <tr class="yuki-column-4" onclick="location.href = '@Url.Action("VerifyMeeting", "MainPage", new { id = meeting.Meeting_id })';" style="cursor: pointer;">
                        <td>@meeting.CATEGORY.Category_Name</td>
                        <td>@meeting.Meeting_name</td>
                        <td>@meeting.Date_Start.ToShortDateString()</td>
                        <td>@meeting.MEETING_STATUS.Status_name</td>
                    </tr>
                    }
                }
            </table>
        </div> <!---Table 2-->
        @*<div id="footer">
            <div class="pure-g footer-col">
                <div class="pure-u-1-3 ">
                    INFO
                    <p></p>
                </div>
                <div class="pure-u-1-3 "> CONTACT US </div>
                <div class="pure-u-1-3 "> GET SOCIAL </div>
            </div>
        </div>*@ <!--Footer-->

        <div id="Create-Modal"></div>
        @*<div id="MeetingInfo-Modal"></div>*@

    <script type="text/javascript">
            //$(document).ready(function () {
            //    getCreateModal()
            //});
            function getCreateModal() {
                $.ajax({
                    url: '@Url.Action("_Create", "MainPage")',
                    datatype: 'html',
                    method: 'GET',
                    data: {},
                    success: function (data) {
                        $("#Create-Modal").html(data);

                        $("#modalCreate").modal("show");
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }


            @*function getMeetingInfoModal(meetingID) {
                $.ajax({
                    url: '@Url.Action("_MeetingInfo", "MainPage")',
                    datatype: 'html',
                    method: 'GET',
                    data: { meetingID },
                    success: function (data) {
                        $("#MeetingInfo-Modal").html(data);

                        $("#modalMeetingInfo").modal("show");
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }*@
    </script>
    </body>
