@model MeetingManagement.Models.MEETING
@{
    ViewBag.Title = "Chi tiết cuộc hop";
    int i = 0;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/Content/Meetings/meetingdetail.css" />

    <!-- Icons font CSS-->

    <link href="~/Content/taocuochop/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/taocuochop/vendor/font-awesome-4.7/css/font-awesome.css" rel="stylesheet" />

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Vendor CSS-->

    <link href="~/Content/taocuochop/vendor/select2/select2.min.css" rel="stylesheet" />

    <link href="~/Content/taocuochop/vendor/datepicker/daterangepicker.css" rel="stylesheet" />
    <!-- Main CSS-->

    <link href="~/Content//taocuochop/css/main.css" rel="stylesheet" />
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <body class="body-img">
        <div class="body-navbar">
            @*<button type="button" onclick="window.location.href='@Url.Action("Index", "MainPage")'" class="btn yuki-btn-blue>
                    ❮   Back to List
                </button>*@
            <div class="nav-content-zone">
                <img src="~/Content/Picture/users_meeting.png" />
                <div class="lable-zone">
                    @Html.Label(Model.CATEGORY.Category_Name.ToString())
                </div>
                <div class="button-zone">
                    <button onclick="VerifyMeeting()" class="btn yuki-btn-blue">
                        <p>
                            Duyệt
                        </p>
                    </button>
                    <button onclick="getFeedbackModal(@Model.Meeting_id)" type="button" class="btn yuki-btn-gray">
                        <p>
                            Không Duyệt
                        </p>
                    </button>
                </div>
            </div>
        </div>

        <div style="position:relative; top:50px;">
            <div class="form-row-fixed">
                @*<img src="~/Content/Picture/outline_file_upload_black_24dp.png" />*@
                @*<label class="icon-zone" for="input-ficons-1"><i class="fa fa-plus"></i></label>*@
                @if (Model.ATTACHMENTs.Count != 0)
                {
                    foreach (var item in Model.ATTACHMENTs)
                    {
                        <a id="myfile" href="@item.Attachment_path" style="margin-right:20px;" download>
                            <div style="width:200px; height:50px; cursor:pointer; background-color:white; outline:1px solid #e5e5e5; display:inline-flex">
                                <div style="width: 25%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                    <i style="font-size:40px" class="fas fa-file-word text-primary"></i>
                                </div>
                                <div style="width:75%; padding:0 5px; color:black">
                                    <p>
                                        @item.Attachment_name
                                    </p>
                                    <p style="font-size:10px">
                                        @item.Attachment_binary
                                    </p>
                                </div>
                            </div>
                        </a>

                    }

                }
                <div class="value-fixed">
                    <div class="space"></div>
                </div>
            </div>
            <div class="form-row-fixed form-row-fixed-title" style="width:100%;">
                <img src="~/Content/Picture/outline_title_black_24dp.png" />
                <div class="value value-fixed">
                    <div class="input-group input_fixed value-fixed-title" style="width: 800px !important;">
                        @Html.DisplayFor(m => m.Meeting_name, new { @class = "input-fixed", @id = "meeting_name" })
                    </div>
                </div>
            </div>
            <div class="form-row-fixed datetime-inline">
                <img src="~/Content/Picture/outline_event_black_24dp.png" />
                <div class="value value-fixed value-fixed-location">
                    <div class="input-group input_fixed">
                        <div class="input-group-desc" style="display:flex ;height: 100%;">
                            @Html.Label(Model.Date_Start.ToShortDateString(), new { @class = "input-fixed" })
                        </div>
                    </div>
                </div>
            </div><!--
            --><div class="form-row-fixed datetime-inline">
                <img src="~/Content/Picture/outline_schedule_black_24dp.png" />
                <div class="value value-fixed value-fixed-location">
                    <div class="input-group input_fixed">
                        <div class="input-group-desc" style="display:flex ;height: 100%;">
                            @Html.Label(Model.Time_Start.ToString(), new { @class = "input-fixed" })
                        </div>
                    </div>
                </div>
            </div><!--
            --><div class="form-row-fixed datetime-inline" style="width:100%;">
                <img src="~/Content/Picture/outline_place_black_24dp.png" />
                <div class="value value-fixed value-fixed-location">
                    <div class="input-group input_fixed" style="width:800px">
                        <div class="input-group-desc" style="display:flex ;height: 100%;">
                            @Html.Label(Model.Location.ToString(), new { @class = "input-fixed" })
                        </div>
                    </div>
                </div>
            </div>
            @*Content*@
            <div class="form-row-fixed" style="align-items: flex-start !important; width: 100%; margin-top: 20px !important; ">
                <img src="~/Content/Picture/outline_edit_black_24dp.png" />
                <div class="value value-fixed" style="border: 1px solid #e5e5e5; border-radius: 5px; width: 966px; min-height: 200px;">
                    <div class="input-group" style="width: 100%; background: white; white-space: pre; ">
                        @*@Html.Label(Model.Meeting_content, new { @class = "area-input", @rows = "20" })*@
                        @Html.DisplayFor(m => m.Meeting_content)
                    </div>
                </div>
            </div>
            <a class="btn btn-primary-fixed" role="button" data-toggle="collapse" href="#Member" aria-expanded="false" aria-controls="Member">
                Danh sách thành viên
            </a>

            @*<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Button with data-target
                </button>*@
            <div class="collapse" id="Member" style="width:1000px;">
                <table class="table">
                    <thead>
                        <tr style="background-color:#f1f1f1; color:black;">
                            <th scope="col">#</th>
                            <th class="col-align" scope="col">Tên thành viên</th>
                            <th class="col-align" scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in Model.MEMBERs)
                        {
                            <tr>
                                <td>@(++i)</td>
                                <td class="col-align">@member.AspNetUser.Full_name</td>
                                <td class="col-align">@member.AspNetUser.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="height:50px;"></div>
        </div>
        <div id="Feedback"></div>
    </body>
    }
</html>
<style>
    .btn-primary-fixed {
        color: #fff;
        background-color: #009fe5;
        /* border-color: #2e6da4; */
        position: relative;
        left: 0px;
        width: 1000px;
        border-radius: 4px 4px 0px 0px;
    }

    .space {
        width: 966px;
    }

    .file-zone {
        margin-left: 34px;
        width: 300px;
        height: 50px;
    }

    .area-input {
        height: fit-content;
        min-height: 250px;
        padding: 5px;
    }

    #myfile:hover div {
        background-color: #f1f1f1;
        text-decoration: none;
    }

    #myfile {
        text-decoration: none !important;
        position: relative;
        left: 34px;
    }
    input {
        max-width: none;
    }

    textarea {
        max-width: none;
    }

    .col-2 {
        width: 150px;
        display: inline-block;
    }

    .col-500 {
        width: 500px;
        display: inline-block;
        position: absolute;
    }
</style>

@*override button.less*@
<style>
    .inline-datetime {
        display: inline-flex;
    }

    .inline-location {
        margin-left: 50px;
        position: absolute;
        display: inline-block;
        width: 600px;
        height: 40px;
    }

    .button-zone {
        display: inline-block;
        position: absolute;
        right: 30px;
        margin: 3px 0px;
    }

    .body-navbar {
        width: calc(100% - 150px);
        height: 60px;
        background: white;
        border-bottom: 1px solid #f1f1f1;
        z-index: 10;
        position: fixed;
        color: white;
        top: 50px;
        left: 150px;
    }

    .card-body-fixed {
        position: relative;
        top: 50px;
        width: 1300px;
        height: 800px;
    }

    .yuki-card-footer {
        text-align: center;
        padding-bottom: 20px;
    }

    .btn-fixed {
        color: white;
        font-size: 14px;
        display: inline-block;
        width: 8em;
        height: 4em;
        text-align: center;
        border-radius: 4px;
    }

    .yuki-btn-blue {
        background-color: #009FE5 !important;
    }

    .yuki-btn-gray {
        background-color: #808080 !important;
    }

        .yuki-btn-gray:hover {
        }
</style>
<style>
    textarea:focus {
        outline: 0px !important;
        border: 2px solid #009fe5 !important;
    }
</style>
<style>
    .back-button {
        font-family: Mulish;
        background: #009FE5;
        color: white;
        width: 150px;
        height: 50px;
        border-radius: 10px;
    }

    .card-heading-fixed {
        background: #009FE5 !important;
    }
</style>
<style>

    .input--style-5-fixed {
        background: #f1f1f1;
        height: 40px;
        line-height: 40px;
        border: 2px solid white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0 22px;
        color: #555;
    }

    .value-fixed-title {
        width: calc(1000px - 34px) !important;
    }

    .value-fixed-location {
        width: calc(100% - 34px) !important
    }

    .value-fixed {
        margin-left: 10px;
    }

    .form-row-fixed {
        margin: 0 0 10px 0;
    }

    .form-row-fixed-title {
        width: calc(1000px - 34px);
    }

    .form-row img {
        height: 24px;
        opacity: 0.7;
        display: inline-block;
        width: 24px;
    }

    .area-input {
        margin: 0px;
        width: calc(1000px - 34px);
        height: 250px;
        border: 2px solid white;
    }

    .row-space-fixed:after {
        content: none;
    }

    .row-space-fixed:before {
        content: none;
    }

    .row-space-fixed {
        margin: 0px;
    }

    .input-new:focus {
        border: 2px solid #009fe5;
    }

    .input--style-5-fixed:focus {
        border: 2px solid #009fe5;
    }

    .input-margin {
        margin-left: 50px;
    }
    /*    .body-content {
        background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/51/78/dltnIv.jpg");
    }*/
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        getGrdMemberListModal(@Model.Meeting_id);
        });
            function getGrdMemberListModal(id) {
            $.ajax({
                url: '@Url.Action("GrdMemberTable","MainPage")',
                method: 'GET',
                data: { id },
                success: function (data) {
                    $("#Popup").html(data);

                    $("#modalMember").appendTo("MeetingInfo");
                },
                error: function (err) {
                    console.log(err);
                }
            })
    }

        function getFeedbackModal(id) {
            $.ajax({
                url: '@Url.Action("Feedback", "MainPage")',
                method: 'GET',
                data: { id },
                success: function (data) {
                    $("#Feedback").html(data);

                    $("#modalFeedback").appendTo("body").modal("show");
                },
                error: function (err) {
                    console.log(err);
                }
            })
            }
    function VerifyMeeting() {
        var category_id = $("#category_id").val();
        var meeting_id = $("#meeting_id").val();
        var meeting_name = $("#meeting_name").val();
        var date_start = $("#date_start").val();
        var time_start = $("#time_start").val();
        var location = $("#location").val();
        var content = $("#content").val();
        var status = $("#status").val('2');

        $.ajax({
            url: '@Url.Action("VerifyMeeting","MainPage")',
            method: 'POST',
            data: (category_id, meeting_id, meeting_name, date_start, time_start, location, content, status),
            success: function (data) {
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
        //function getCreateModal() {
        //    $.ajax({
        //        url: "GrdMemberTable",
        //        datatype: 'html',
        //        method: 'GET',
        //        data: {},
        //        success: function (data) {
        //            $("#Popup").html(data);

        //            $("#modalCreate").modal("show");
        //        },
        //        error: function (err) {
        //            console.log(err);
        //        }
        //    })
        //}
        //function getCreateModal2() {
        //    $.ajax({
        //        url: "CreateUser2",
        //        datatype: 'html',
        //        method: 'GET',
        //        data: {},
        //        success: function (data) {
        //            $("#Popup2").html(data);

        //            $("#modalCreate2").modal("show");
        //        },
        //        error: function (err) {
        //            console.log(err);
        //        }
        //    })
        //}
</script>
