@*@model MeetingManagement.Models.MEETING

    @{
        ViewBag.Title = "MeetingInfo";
        Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
    }

    <h2>MeetingInfo</h2>

    <div>
        <h4>MEETING</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Meeting_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Meeting_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Meeting_goal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Meeting_goal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Meeting_content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Meeting_content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date_Start)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date_Start)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time_Start)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time_Start)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Meeting_report)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Meeting_report)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date_Create)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date_Create)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CATEGORY.Category_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CATEGORY.Category_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ATTACHMENT.Attachment_link)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ATTACHMENT.Attachment_link)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MEETING_STATUS.Status_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MEETING_STATUS.Status_name)
            </dd>
        </dl>
    </div>
    <button class="btn btn-outline-primary">Duyệt</button>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Meeting_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

@model MeetingManagement.Models.MEETING
@{
    ViewBag.Title = "Chi tiết cuộc hop";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Icons font CSS-->

    <link href="~/Content/taocuochop/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/taocuochop/vendor/font-awesome-4.7/css/font-awesome.css" rel="stylesheet" />

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Vendor CSS-->

    <link href="~/Content/taocuochop/vendor/select2/select2.min.css" rel="stylesheet" />

    <link href="~/Content/taocuochop/vendor/datepicker/daterangepicker.css" rel="stylesheet" />
    <!-- Main CSS-->

    <link href="~/Content//taocuochop/css/main.css" rel="stylesheet" />
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <body>
        
        <div class="body-navbar">
            @*<button type="button" onclick="window.location.href='@Url.Action("Index", "MainPage")'" class="btn yuki-btn-blue>
            ❮   Back to List
        </button>*@
            <div class="nav-content-zone">
                    <img src="~/Content/Picture/users_meeting.png" />
                    <div class="lable-zone">
                        @Html.Label(Model.CATEGORY.Category_Name.ToString())
                    </div>
                <div class="button-zone">
                    <button onclick="VerifyMeeting()" class="btn yuki-btn-blue">
                        <p>
                            Duyệt
                        </p>
                    </button>
                    <button onclick="getFeedbackModal(@Model.Meeting_id)" type="button" class="btn yuki-btn-gray">
                        <p>
                            Không Duyệt
                        </p>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body card-body-fixed">
            @using (Ajax.BeginForm("Taocuochop", "Categories", new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateSuccess" }, new { @class = "form-horizontal", @id = "createformid", role = "form" }))
            {
                @Html.HiddenFor(model => model.Category_id, new { @id = "category_id" })
                @Html.HiddenFor(model => model.Meeting_id, new { @id = "meeting_id" })
                @Html.HiddenFor(model => model.Status, new { @id = "status" })

                @Html.HiddenFor(model => model.Create_by)
                <div class="form-row form-row-fixed">
                    <div>
                        <img src="~/Content/Picture/outline_title_black_24dp.png" />
                    </div>
                    <div class="value value-fixed">
                        <div class="input-group input_fixed">
                            @Html.TextBoxFor(model => model.Meeting_name, new { @class = "input--style-5-fixed", @id = "meeting_name" })
                        </div>
                    </div>
                </div>
                <div class="form-row form-row-fixed">
                    <div><img src="~/Content/Picture/outline_schedule_black_24dp.png" /></div>
                    <div class="value value-fixed">
                        <div class="inline-datetime">
                            <div class="col-2">
                                <div class="input-group-desc">
                                    @Html.TextBoxFor(model => model.Date_Start, "{0:dd/MM/yyyy}", new { @class = "input--style-5-fixed", @id = "date_start" })
                                    @*<label class="label--desc">Ngày Họp</label>*@
                                    @*@Html.DisplayFor(model => model.Date_Start)*@
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group-desc">
                                    @Html.TextBoxFor(model => model.Time_Start, new { @class = "input--style-5-fixed", @id = "time_start" })
                                </div>
                            </div>
                        </div>
                        <div class="inline-location" style="display:inline-block">
                                <img src="~/Content/Picture/outline_place_black_24dp.png" />
                            <div class="col-500">
                                <div class="input-group input_fixed">
                                    @Html.TextBoxFor(model => model.Location, new { @class = "input--style-5-fixed", @id = "location" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row form-row-fixed">
                    <div> <img src="~/Content/Picture/outline_edit_black_24dp.png" /></div>
                    <div class="value value-fixed">
                        <div class="input-group input_fixed">
                            @Html.TextAreaFor(model => model.Meeting_content, new { @class = "input--style-5-fixed area-input", @rows = "5", @id = "content" })
                        </div>
                    </div>
                </div>
                <div class="form-row form-row-fixed">
                    <div>
                        <img src="~/Content/Picture/outline_people_black_24dp.png" />
                    </div>
                    <div class="value-fixed">
                        <div id="Popup"></div>
                    </div>
                    @*<div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="getGrdMemberListModal(@Model.Meeting_id)">
                    Chi tiết
                    </button>
                </div>*@
                </div>
                <div class="form-row form-row-fixed">
                    <div><img src="~/Content/Picture/outline_person_add_black_24dp.png" /></div>
                </div>
                <div class="form-row form-row-fixed">
                    <img src="~/Content/Picture/outline_file_upload_black_24dp.png" />
                    <div class="input-margin">
                        <input type="file" class="form-control-file border" name="file">
                    </div>
                </div>
            }
        </div>

        <div id="Popup"></div>
        <div id="Feedback"></div>
    </body>
}
</html>

@*override site.css*@
<style>
    input {
        max-width: none;
    }

    textarea {
        max-width: none;
    }

    .col-2{
        width: 150px;
        display: inline-block;
    }

    .col-500{
        width:500px;
        display:inline-block;
        position:absolute;
    }
</style>

@*override button.less*@
<style>
    .inline-datetime {
        display:inline-block;
    }
    .inline-location {
        margin-left: 50px;
        position: absolute;
        display: inline-block;
        width: 600px;
        height: 40px;
    }
    .button-zone {
        display: inline-block;
        position: absolute;
        right: 30px;
        margin: 3px 0px;
    }
    .lable-zone {
        display: inline-block;
        position: absolute;
        left: 80px;
        color: black;
        line-height: 40px;
    }
    .body-navbar {
        width: calc(100% - 150px);
        height: 60px;
        background: white;
        border-bottom: 1px solid #f1f1f1;
        z-index: 10;
        position: fixed;
        color: white;
        top: 50px;
        left: 150px;
    }
    .nav-content-zone{
        position:relative;
        top:10px;
        left:20px;
    }

    .body-navbar div img {
        width: 40px;
        height: 40px;
        padding: 2px;
        border: 1px solid grey;
        border-radius: 10px;
        position: absolute;
        left: 30px;
    }

    .card-body-fixed {
        position: relative;
        top: 50px;
        width: 1300px;
        height: 800px;
    }

    .yuki-card-footer {
        text-align: center;
        padding-bottom: 20px;
    }

    .btn-fixed {
        color: white;
        font-size: 14px;
        display: inline-block;
        width: 8em;
        height: 4em;
        text-align: center;
        border-radius: 4px;
    }

    .yuki-btn-blue {
        background-color: #009FE5 !important;
    }

    .yuki-btn-gray {
        background-color: #808080 !important;
    }

        .yuki-btn-gray:hover {
        }
</style>
<style>
    textarea:focus {
        outline: 0px !important;
        border: 2px solid #009fe5 !important;
    }
</style>
<style>
    .back-button {
        font-family: Mulish;
        background: #009FE5;
        color: white;
        width: 150px;
        height: 50px;
        border-radius: 10px;
    }

    .card-heading-fixed {
        background: #009FE5 !important;
    }
</style>
<style>
    .input--style-5-fixed {
        background: #e5e5e5;
        height: 40px;
        line-height: 40px;
        border: 2px solid white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0 22px;
        font-size: 16px;
        color: #555;
    }

    .value-fixed {
        margin-left: 10px;
    }

    .form-row-fixed {
        margin: 0 0 10px 0;
    }

    .form-row img {
        height: 24px;
        opacity: 0.7;
    }

    .area-input {
        margin: 0px;
        width: 100%;
        height: 250px;
        border: 2px solid white;
    }

    .input_fixed {
        width: 100%;
        height: 30px;
    }

    .row-space-fixed:after {
        content: none;
    }

    .row-space-fixed:before {
        content: none;
    }

    .row-space-fixed {
        margin: 0px;
    }

    .input-new:focus {
        border: 2px solid #009fe5;
    }

    .input--style-5-fixed:focus {
        border: 2px solid #009fe5;
    }

    .input-margin {
        margin-left: 50px;
    }
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        getGrdMemberListModal(@Model.Meeting_id);
        });
            function getGrdMemberListModal(id) {
            $.ajax({
                url: '@Url.Action("GrdMemberTable","MainPage")',
                method: 'GET',
                data: { id },
                success: function (data) {
                    $("#Popup").html(data);

                    $("#modalMember").appendTo("MeetingInfo");
                },
                error: function (err) {
                    console.log(err);
                }
            })
    }

        function getFeedbackModal(id) {
            $.ajax({
                url: '@Url.Action("Feedback", "MainPage")',
                method: 'GET',
                data: { id },
                success: function (data) {
                    $("#Feedback").html(data);

                    $("#modalFeedback").appendTo("body").modal("show");
                },
                error: function (err) {
                    console.log(err);
                }
            })
            }
    function VerifyMeeting() {
        var category_id = $("#category_id").val();
        var meeting_id = $("#meeting_id").val();
        var meeting_name = $("#meeting_name").val();
        var date_start = $("#date_start").val();
        var time_start = $("#time_start").val();
        var location = $("#location").val();
        var content = $("#content").val();
        var status = $("#status").val('2');

        $.ajax({
            url: '@Url.Action("VerifyMeeting","MainPage")',
            method: 'POST',
            data: (category_id, meeting_id, meeting_name, date_start, time_start, location, content, status),
            success: function (data) {
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
        //function getCreateModal() {
        //    $.ajax({
        //        url: "GrdMemberTable",
        //        datatype: 'html',
        //        method: 'GET',
        //        data: {},
        //        success: function (data) {
        //            $("#Popup").html(data);

        //            $("#modalCreate").modal("show");
        //        },
        //        error: function (err) {
        //            console.log(err);
        //        }
        //    })
        //}
        //function getCreateModal2() {
        //    $.ajax({
        //        url: "CreateUser2",
        //        datatype: 'html',
        //        method: 'GET',
        //        data: {},
        //        success: function (data) {
        //            $("#Popup2").html(data);

        //            $("#modalCreate2").modal("show");
        //        },
        //        error: function (err) {
        //            console.log(err);
        //        }
        //    })
        //}
</script>
