<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VanLangMeeting</title>
    <link rel="stylesheet" href="~/Content/normalize.css" />
    <link rel="stylesheet" href="~/Content/The-Last-Style-Blender.css" />
@*    <link rel="stylesheet" href="~/Content/quyhung/slide-bar.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="nav-bar">
        <div>
            <a href="@Url.Action("Index","MainPage")"><img src="https://www.vanlanguni.edu.vn/images/2020/HE_THONG_LOGO_CUA_TRUONG-02.png" alt="Văn Lang University"></a>
        </div>
        <div class="login">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a href="@Url.Action("Index","MainPage")" style="margin-top:10px">Trang chủ</a></li>
            <li><a href="@Url.Action("Index","Categories")" style="margin-top:10px">Danh mục</a></li>
            <li><a href="@Url.Action("Index","tabCuocHop")" style="margin-top:10px">Cuộc họp</a></li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VanLangMeeting</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

@*    <div id="menu">
        <ul>
            <li><a href="@Url.Action("Index","Home")"style="margin-top:10px">Trang chủ</a></li>
            <li><a href="@Url.Action("Index","Home")" style="margin-top:10px">Công việc</a></li>
            <li><a href="@Url.Action("Index","Home")" style="margin-top:10px">Hồ sơ</a></li>
        </ul>
    </div>*@

