<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/normalize.css" />
    @*<link href="~/Content/catalog-list.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/The-Last-Style-Blender.css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="~/Content/quyhung/css/accodion-css.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" crossorigin="anonymous">
    <!-- alternatively you can use the font awesome icon library if using with `fas` theme (or Bootstrap 4.x) by uncommenting below. -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous" />
    <!-- the fileinput plugin styling CSS file -->
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <style>
        .navbar-right > li > a {
            color: white;
        }

        .user-logoff {
            right: 0%;
        }

        .login-index-update {
            width: 363.200px;
        }

        .user-login {
            float: right !important;
        }
    </style>
</head>

<body id="yuki-body">
    <div id="yuki-nav-bar">
        <div>
            <a href="#"><img src="https://www.vanlanguni.edu.vn/images/2020/HE_THONG_LOGO_CUA_TRUONG-02.png" alt="Văn Lang University"></a>
        </div>
        <div class="yuki-login-info">
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div id="yuki-menu">
        <ul>
            <li><a href="@Url.Action("Index","MainPage")">Trang chính</a></li>
            <li><a href="@Url.Action("Index","Categories")">Danh mục</a></li>
            <li><a href="@Url.Action("Index","tabCuocHop")">Cuộc họp</a></li>
            @*li><a href="@Url.Action("indexTask","BCNTask")">Thống kê</a></li>*@
        </ul>
    </div>

    <!--Menu-->

    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

