@model MeetingManagement.Models.MEETING

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MEETING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting_goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting_goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting_report)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting_report)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Create)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Create)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY.Category_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATTACHMENT.Attachment_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATTACHMENT.Attachment_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEETING_STATUS.Status_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEETING_STATUS.Status_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Meeting_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
