@model IEnumerable<MeetingManagement.Models.MEETING>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meeting_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meeting_goal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meeting_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time_Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meeting_report)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Create)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATTACHMENT.Attachment_link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEETING_STATUS.Status_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting_goal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time_Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting_report)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Create)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY.Category_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATTACHMENT.Attachment_link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEETING_STATUS.Status_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Meeting_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Meeting_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Meeting_id })
        </td>
    </tr>
}

</table>
