@model IEnumerable<MeetingManagement.Models.MEETING>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div id="table-content">
    <table class="table">
        <thead>
            <tr>
                <th class="me-th" scope="col">Tên cuộc họp</th>
                <th class="me-th" scope="col">Người chủ trì</th>
                <th class="me-th" scope="col">Ngày họp</th>
                <th class="me-th" text-align: center; " ; scope="col">Tình trạng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="w400">
                    <td style="vertical-align: middle;font-weight:bold">  
                        <a href="@Url.Action("MeetingInfo2","Meetings", new { id = item.Meeting_id})">
                            @item.Meeting_name
                        </a>
                    </td>
                    <td style="vertical-align: middle;">@item.AspNetUser.Full_name</td>
                    <td style="vertical-align: middle;">@Convert.ToDateTime(item.Date_Start).ToString("dd/MM/yyyy")</td>
                    <td style="vertical-align: middle; font-weight: bold">
                        @if (@item.Status == 1)
                        {
                            <div class="pending-status">@item.MEETING_STATUS.Status_name</div>
                        }
                        else if (@item.Status == 2)
                        {
                            <div class="waiting-status">@item.MEETING_STATUS.Status_name</div>
                        }
                        else if (@item.Status == 3)
                        {
                            <div class="missing-status">@item.MEETING_STATUS.Status_name</div>
                        }
                        else if (@item.Status == 4)
                        {
                            <div class="incomplete-status" style="width:125px">@item.MEETING_STATUS.Status_name</div>
                        }
                        else if (@item.Status == 5)
                        {
                            <div class="complete-status">@item.MEETING_STATUS.Status_name</div>
                        }
                        else if (@item.Status == 6)
                        {
                            <div class="basic-status" style="background-color: #607d8b">Không duyệt</div>
                        }
                        else if (@item.Status == 7)
                        {
                            <div class="basic-status" style="background-color: #607d8b">Đã hủy</div>
                        }
                    </td>
                </tr>

                }
            </tbody>


    </table>
</div>
<style>
    .w400 td {
        width: auto;
        text-align: center;
        vertical-align: middle;
    }

        .w400 td:first-child {
            text-align: start;
        }

    .me-th {
        text-align: center;
        background-color: #009FE5;
        color: white
    }

        .me-th:first-child {
            text-align: start;
        }
</style>
   @* <style>

        tr {
            height: 48px;
        }

        table ul li {
            display: inline;
        }

        ul > li span {
            font-size: 25px;
        }

        .ml-table {
            width: 100%;
            border: 1px solid black;
            border-top: none;
        }

            .ml-table tbody tr td {
                display: flex !important;
                line-height: normal !important;
                align-items: center;
                justify-content: center;
            }

            .ml-table thead {
            }

                .ml-table thead tr {
                }

                    .ml-table thead tr th {
                        text-align: center;
                    }

            .ml-table tbody {
            }

                .ml-table tbody tr {
                    column-count: 4;
                }
    </style>*@




