@model MeetingManagement.Models.MEETING
@{
    var userArr = new List<string>();
    ViewBag.Title = "MeetingForm";
    Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
}

<!-- Icons font CSS-->

<link href="~/taocuochop/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/taocuochop/vendor/font-awesome-4.7/css/font-awesome.css" rel="stylesheet" />

<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Vendor CSS-->

<link href="~/taocuochop/vendor/select2/select2.min.css" rel="stylesheet" />


<link href="~/taocuochop/vendor/datepicker/daterangepicker.css" rel="stylesheet" />
<!-- Main CSS-->

<link href="~/taocuochop/css/main.css" rel="stylesheet" />

<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Tạo Cuộc Họp</h2>
            </div>
            <form id="createMeeting" method="post" enctype="multipart/form-data">

                <div class="card-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">
                        <div class="name">Tên Cuộc Họp</div>
                        <div class="value">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Meeting_name, new { @class = "input--style-5" })
                                @Html.ValidationMessageFor(model => model.Meeting_name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-row m-b-55">
                        <div class="name">Ngày/Giờ</div>
                        <div class="value">

                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        @Html.TextBoxFor(model => model.Date_Start, new { @class = "input--style-5", @type = "date" })
                                        @Html.ValidationMessageFor(model => model.Date_Start, "", new { @class = "text-danger" })
                                        <label class="label--desc">Ngày Họp</label>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        @Html.TextBoxFor(model => model.Time_Start, new { @class = "input--style-5", @type = "time" })
                                        @Html.ValidationMessageFor(model => model.Time_Start, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Địa Điểm</div>
                        <div class="value">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Location, new { @class = "input--style-5" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Nội Dung Cuộc Họp</div>
                        <div class="value">
                            <div class="input-group">
                                @Html.TextAreaFor(model => model.Meeting_content, new { @class = "input--style-5", @rows = "5", @id = "comment1", @style = "margin: 0px; width: 400px; height: 73px;" })
                            </div>
                            @Html.HiddenFor(m => m.Category_id)

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Người Tham Dự:</div>
                        <div>
                            <ul class="w3-ul w3-border create-user-scroll" id="pickedUser">
                                @Html.HiddenFor(m => m.AspNetUsers)
                            </ul>
                            <button type="button" class="btn btn-primary" data-toggle="modal" onclick="getCreateModal()">
                                Thêm
                            </button>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Người Ngoài Trường:</div>
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" onclick="getCreateModal2()">
                                Thêm
                            </button>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="name">Tài Liệu Đính Kèm:</div>
                        <div>
                            <div class="form-group">
                                <input type="file" class="form-control-file border" multiple id="file"  name="Files" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                @Html.ValidationMessage("File", "", new { @class = "text-danger" , @id ="ValidateFile" })
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <button type="submit" class="btn btn--blue btn-lg btn-block" id="create" data-toggle="modal">Tạo</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="Popup"></div>
<div id="Popup2"></div>



<!-- Jquery JS-->

<script src="~/taocuochop/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->

<script src="~/taocuochop/vendor/select2/select2.min.js"></script>

<script src="~/taocuochop/vendor/datepicker/moment.min.js"></script>

<script src="~/taocuochop/vendor/datepicker/daterangepicker.js"></script>
<!-- Main JS-->

<script src="~/taocuochop/js/global.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(() => {
        if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
            sessionStorage.clear();
        }
        $('#file').bind('change', function () {
            var maxsize = 5 * 1024 * 1024;
            if ($('#file')[0].files[0].size <= maxsize) {
                $('#file').prop('disabled', false);
                return true;
            }
            else {
                $('#ValidateFile').text("Không thể upload quá 5MB");
                return false;
            }
        });
    });
    function setUploadButtonState() {

        
    };
    function getCreateModal() {
        $.ajax({
            url: "@Url.Action("CreateUSer", "MEETINGs")",
            datatype: 'html',
            method: 'GET',
            data: {},
            success: function (data) {
                $("#Popup").html(data);

                $("#modalCreate").modal("show");
            },
            error: function (err) {
                console.log(err);
            }
        })
    };
    function getCreateModal2() {
        $.ajax({
            url: "CreateUser2",
            datatype: 'html',
            method: 'GET',
            data: {},
            success: function (data) {
                $("#Popup2").html(data);

                $("#modalCreate2").modal("show");
            },
            error: function (err) {
                console.log(err);
            }
        })
    };
</script>