@using MeetingManagement.Models;
@{
    ViewBag.Title = "ReportList";
    Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
    var meetings = ViewBag.meeting as List<MEETING>;
    var categoryId = ViewBag.categoryId;
}
<div class="yuki-table-zone">
    <div class="yuki-table-title" style="display: flex; justify-content: space-between;">
        <p>Cuộc họp chưa nộp báo cáo</p>
        @Html.ActionLink("Nhắc tất cả", "NotiAll", "Meetings", new { categoryId = categoryId }, new { @class = "btn btn-default", @style = "margin-right: 20px;" })
    </div>
    <div class="yuki-table-out-header">
        <ul class="yuki-column-4">
            <li>Cuộc họp</li>
            <li>Chủ trì</li>
            <li>Ngày họp</li>
            <li></li>
        </ul>
    </div>
    <table class="yuki-table" id="table-sort">
        @if (meetings != null)
        {
            foreach (var meets in meetings)
            {
                if (meets.Check_report != true)
                {
                    <tr class="yuki-column-4">
                        <td>@meets.Meeting_name</td>
                        <td>@meets.AspNetUser.Email</td>
                        <td>@meets.Date_Start.Add(meets.Time_Start.Value)</td>
                        <td><a href="@Url.Action("NotiMeeting", "Meetings",new { meetingId = meets.Meeting_id})" class="fa fa-bell"></a></td>
                    </tr>
                }
            }

        }
    </table>
</div>
<div class="yuki-table-zone">
    <div class="yuki-table-title" style="display: flex; justify-content: space-between;">
        <p>Cuộc họp đã nộp báo cáo</p>
        @Html.ActionLink("Tải tất cả", "DownloadAllFile", "Meetings", new { categoryId = categoryId }, new { @class = "btn btn-default", @style = "margin-right: 20px;" })
    </div>
    <div class="yuki-table-out-header">
        <ul class="yuki-column-4">
            <li>Cuộc họp</li>
            <li>Tên file</li>
            <li>Dung lượng</li>
            <li></li>
        </ul>
    </div>
    <table class="yuki-table" id="table-sort">
        @if (meetings != null)
        {
            foreach (var meets in meetings)
            {
                if (meets.Check_report == true)
                {
                    <tr class="yuki-column-4">
                        <td>@meets.Meeting_name</td>
                        <td>@meets.REPORT.Report_name</td>
                        <td>@meets.REPORT.Report_binary</td>
                        <td><a href="@Url.Action("DownloadFile", "Meetings", new { meeting_id = meets.Meeting_id })" class="fa fa-download"></a></td>
                    </tr>
                }
            }
        }
        </table>
</div>
