@using MeetingManagement.Models
@model LoginViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


    <link href="~/Content/login-form-05/css/style.css" rel="stylesheet" />

    <link href="~/Content/login-form-05/css/owl.carousel.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->

    <link href="~/Content/login-form-05/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
   
    <link href="~/Content/login-form-05/fonts/icomoon/style.css" rel="stylesheet" />
    <title>Login </title>
</head>
<body class="me-body">

    <div class="d-md-flex half">
        <div class="bg" style="background-image: url('../../Content/login-form-05/images/vanlang1.png');"></div>

        <div class="contents">

            <div class="container">

                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="text-center">
                                <img src="~/Content/login-form-05/images/logo.png" />
                            </div>
                            <hr /><center>----------*.*-----------</center><hr />

                            <form action="@Url.Action("Login","Account")" method="post">
                                @Html.AntiForgeryToken()

                                <div class="form-group first">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group last mb-3">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>

                                <div class="d-sm-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-3 mb-sm-0">

                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                        <div class="control__indicator"></div>
                                    </label>

                                </div>
                                <button type="submit" value="Log In" class="btn btn-block py-2 btn-Login">Log In</button>

                            </form>
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </section>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/login-form-05/js/bootstrap.min.js"></script>
    <script src="~/Content/login-form-05/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/login-form-05/js/main.js"></script>
    <script src="~/Content/login-form-05/js/owl.carousel.min.js"></script>
    <script src="~/Content/login-form-05/js/popper.min.js"></script>
</body>
