@using MeetingManagement.Models
@model LoginViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/normalize.css" />
    <link href="~/Content/The-Last-Style-Blender.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


    <link href="~/login-form-05/css/style.css" rel="stylesheet" />

    <link href="~/login-form-05/css/owl.carousel.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->

    <link href="~/login-form-05/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Style -->
   
    <link href="~/login-form-05/fonts/icomoon/style.css" rel="stylesheet" />
    <title>Login </title>
</head>
<body>
    <div id="yuki-nav-bar">
        <div>
            <a href="@Url.Action("Index","Home",new { Area = "" })"><img src="https://www.vanlanguni.edu.vn/images/2020/HE_THONG_LOGO_CUA_TRUONG-02.png" alt="Văn Lang University"></a>
        </div>
    </div>
    <div class="container content">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="form-block mx-auto">
                    <div class="text-center mb-5">
                        <h3 class="text-uppercase"> Đăng Nhập Tài Khoản</h3>
                    </div>
                    <form action="@Url.Action("Login","Account")" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group first">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                        </div>
                        <div class="form-group last mb-3">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>

                        <div class="d-sm-flex mb-5 align-items-center">
                            <label class="control control--checkbox mb-3 mb-sm-0">

                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)

                                @*<div class="control__indicator"></div>*@
                            </label>

                        </div>

                        <div class="form-inline pull-right">

                            <button type="submit" value="Log In" class="btn col-md-6 btn-success">Đăng Nhập</button>

                            @*login with Vanlang
                                <a href="#" class="btn col-md-6 btn-primary">
                                    <span class="icon-windows mr-3"></span>  Emai Van Lang
                                </a>*@


                        </div>

                    </form>
                    <div class="col-md-12">
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="~/login-form-05/js/jquery-3.3.1.min.js"></script>
    <script src="~/login-form-05/js/popper.min.js"></script>
    <script src="~/login-form-05/js/bootstrap.min.js"></script>
    <script src="~/login-form-05/js/owl.carousel.min.js"></script>
    <script src="~/login-form-05/js/main.js"></script>
</body>
</html>