@model IEnumerable<MeetingManagement.Models.MeetingListVM>
@{
    Layout = null;
}
<div class="yuki-table-zone yuki-table-zone-fixed">
    <div class="table-head">Cuộc họp sắp tới</div>
    <div class="yuki-table-out-header">
        <ul class="yuki-column-4 add-border">
            <li>
                Tên cuộc họp
                @*<button class="filter">
                        <img src="~/Content/outline_filter_alt_black_24dp.png">
                    </button>*@
            </li>
            <li>
                Người chủ trì
                @*<button class="filter">
                        <img src="~/Content/outline_filter_alt_black_24dp.png">
                    </button>*@
            </li>
            <li>
                Ngày diễn ra
                @*<button class="filter">
                        <img src="~/Content/outline_filter_alt_black_24dp.png">
                    </button>*@
            </li>
            <li>
                Tình trạng
                @*<button class="filter">
                        <img src="~/Content/outline_filter_alt_black_24dp.png">
                    </button>*@
            </li>
        </ul>
    </div>
    <table class="ml-table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="yuki-column-4">
                    <td>
                        @item.MeetingName
                    </td>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.DateStart
                    </td>
                    <td>
                        @if (@item.Status == 1)
                        {
                            <div class="waiting-status">@item.StatusName</div>
                        }
                        else if (@item.Status == 2)
                        {
                            <div class="pending-status">@item.StatusName</div>
                        }
                        else if (@item.Status == 3)
                        {
                            <div class="missing-status">@item.StatusName</div>
                        }
                        else if (@item.Status == 4)
                        {
                            <div class="incomplete-status">@item.StatusName</div>
                        }
                        else if (@item.Status == 5)
                        {
                            <div class="complete-status complete-status-fixed">@item.StatusName</div>
                        }

                </td>
            </tr>
        }
    </tbody>
</table>
    </div>


