@model IEnumerable<MeetingManagement.Models.MEETING>
@using MeetingManagement.Models

@{
    ViewBag.Title = "indexTask";
    Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
    var meetings = ViewBag.meeting as List<MEETING>;
    var tasks = ViewBag.task as List<TASK>;
    SEP24Team7Entities db = new SEP24Team7Entities();
    var percent = 0;
    foreach (var task in tasks)
    {
        if (task.Task_Status == true)
        {
            percent += 1;
        }
    }
    var final = (percent * 100) / tasks.Count;
}
<!---CSS-->
<style>
    .highcharts-figure, .highcharts-data-table table {
        min-width: 320px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;

    }
</style>
<link href="~/Content/catalog-list.css" rel="stylesheet" />
<link href="~/Content/quyhung/css/tabcuochop.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<!--Content-->

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#joinedMeetings">Cuộc họp</a></li>
    <li><a data-toggle="tab" href="#myMeetings">Danh Mục</a></li>
    <li><a data-toggle="tab" href="#pendingMeetings">Cuộc họp chờ duyệt</a></li>
</ul>

<div class="tab-content">
    <div id="joinedMeetings" class="tab-pane fade in active">
        <button type="button" class="btn btn-outline-success"
                style="margin-bottom:10px;font-size:larger;margin-top:10px"
                data-toggle="modal" data-target="#pieChartModal">
            <ion-icon name="pie-chart-outline" style="width:40px;height:25px"></ion-icon>
        </button>
        <button type="button" class="btn btn-outline-warning"
                style="margin-bottom:10px;font-size:larger;margin-top:10px;margin-left:10px"
                data-toggle="modal" data-target="#pieChartModal">
            <ion-icon name="bar-chart-outline" style="width:40px;height:25px"></ion-icon>
        </button>
        <button type="button" class="btn btn-outline-info"
                style="margin-bottom:10px;font-size:larger;margin-top:10px;margin-left:10px"
                data-toggle="modal" data-target="#statisticTable">
            <ion-icon name="reader-outline" style="width:40px;height:25px"></ion-icon>
        </button>
        <br />
        <div id="joinedMeetingGrd">
            <ul class="catalogList">

                @foreach (var item in ViewBag.allMeeting)
                {
                    <li onclick="location.href = '@Url.Action("MeetingDetail","Meetings", new { id = item.Meeting_id })';">
                        @item.Meeting_name
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div id="myMeetings" class="tab-pane fade">
    <br />
    <div id="myMeetingGrd">
        <ul class="catalogList">
            @foreach (var item in ViewBag.allCate)
            {
                <li onclick="location.href = '@Url.Action("Details","Categories", new { id = item.Category_id})';">
                    @item.Category_Name
                </li>
            }
        </ul>
    </div>
</div>



<!----Modal-->
<!----PieChart-->
<div class="modal fade" id="pieChartModal" tabindex="-1" role="dialog" aria-labelledby="pieChartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="barChartModal" style="font-size:larger">Biểu đồ tròn</h5>
            </div>
            <div class="modal-body">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="font-size:larger">Đóng</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="pieChartModal" tabindex="-1" role="dialog" aria-labelledby="pieChartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pieChartModal" style="font-size:large">Biểu đồ tròn</h5>
            </div>
            <div class="modal-body">
                <figure class="highcharts-figure bar">
                    <div id="container-barchart"></div>
                </figure>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="font-size:larger">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!---BangThongKe--->
<div class="modal fade" id="statisticTable" tabindex="-1" role="dialog" aria-labelledby="statisticTable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pieChartModal" style="font-size:large">Bảng thống kê</h5>
            </div>
            <div class="modal-body">
                <table class="table" id="table-sort">
                    <thead>
                        <tr>
                            <th scope="col" onclick="sortTable(0)">Tên cuộc họp</th>
                            <th scope="col" onclick="sortTable(1)">Ngày tạo</th>
                            <th scope="col" onclick="sortTable(2)">Ngày bắt đầu</th>
                            <th scope="col" onclick="sortTable(3)">Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.allMeeting)
                        {
                            <tr>

                                <td>@item.Meeting_name</td>
                                <td>
                                    @Convert.ToDateTime(item.Date_Create).ToString("MM/dd/yyyy")
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.Date_Start).ToString("MM/dd/yyyy")
                                </td>
                                <td>
                                    @if (@item.Status == 1)
                                    {
                                        <div class="pending-status" style="width:110px">@item.MEETING_STATUS.Status_name</div>
                                    }
                                    else if (@item.Status == 2)
                                    {
                                        <div class="waiting-status" style="width:110px">@item.MEETING_STATUS.Status_name</div>
                                    }
                                    else if (@item.Status == 3)
                                    {
                                        <div class="missing-status" style="width:110px">@item.MEETING_STATUS.Status_name</div>
                                    }
                                    else if (@item.Status == 4)
                                    {
                                        <div class="incomplete-status" style="width:110px">@item.MEETING_STATUS.Status_name</div>
                                    }
                                    else if (@item.Status == 5)
                                    {
                                        <div class="complete-status" style="width:110px">@item.MEETING_STATUS.Status_name</div>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="font-size:larger">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!----JS-->
<!---JSLink-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<!----Tab-->
<script type="text/javascript">
    $('#nav-joined-tab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#nav-my-tab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>



<!---Sort-->
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("table-sort");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()
                        @*&& Number(x.innerHTML) > Number(y.innerHTML)*@ ) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()
                        @*&& Number(x.innerHTML) < Number(y.innerHTML)*@) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<!--JSPieChart--->
<script>
    $(document).ready(function () {
        $.getJSON("/BCNTask/indexPieChart", function (data) {
                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Các cuộc họp tháng 7'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        name: 'Meetings',
                        colorByPoint: true,
                        data: [{
                            name: 'Tạo cuộc họp',
                            y: data.createM
@* sliced: true,
                    selected: true *@
            }, {
                name: 'Duyệt',
                y: data.passM
            }, {
                name: 'Đã họp',
                y: data.doneM
            }, {
                name: 'Biên bản',
                y: data.reportM
            }, {
                name: 'Hoàn thành',
                y: data.doneM
            }, {
                name: 'Không duyệt',
                y: data.nopassM
            }, {
                name: 'Đã huỷ',
                y: data.cancelM
            }]
        }]
    });
            });
        });


</script>

<!--JSBarChart--->
@*<script>
        Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Historic World Population by Region'
            },
            subtitle: {
                text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
            },
            xAxis: {
                categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Population (millions)',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' millions'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Year 1800',
                data: [107, 31, 635, 203, 2]
            }, {
                name: 'Year 1900',
                data: [133, 156, 947, 408, 6]
            }, {
                name: 'Year 2000',
                data: [814, 841, 3714, 727, 31]
            }, {
                name: 'Year 2016',
                data: [1216, 1001, 4436, 738, 40]
            }]
        });
    </script>
*@
@*<script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>*@


@*<div class="tab">
        <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'waitmeeting')">Cuộc họp</button>
        <button class="tablinks" onclick="openTab(event, 'myjoymeeting')">Danh mục</button>
        <button class="tablinks" onclick="openTab(event, 'mycremeeting')">Công việc</button>
    </div>*@
<!--TabCuocHop-->
<!--<div id="waitmeeting" class="tabcontent">
    <button type="button" class="btn btn-outline-success"
            style="margin-bottom:10px;font-size:larger;margin-top:10px"
            data-toggle="modal" data-target="#barChartModal">
        <ion-icon name="bar-chart-outline" style="width:40px;height:25px"></ion-icon>
    </button>
    <button type="button" class="btn btn-outline-warning"
            style="margin-bottom:10px;font-size:larger;margin-top:10px;margin-left:10px"
            data-toggle="modal" data-target="#pieChartModal">
        <ion-icon name="pie-chart-outline" style="width:40px;height:25px"></ion-icon>
    </button>
    <button type="button" class="btn btn-outline-info"
            style="margin-bottom:10px;font-size:larger;margin-top:10px;margin-left:10px"
            data-toggle="modal" data-target="#statisticTable">
        <ion-icon name="reader-outline" style="width:40px;height:25px"></ion-icon>
    </button>
    <ul class="catalogList">

        @foreach (var item in ViewBag.allMeeting)
        {
            <li onclick="location.href = '@Url.Action("MeetingDetail","Meetings", new { id = item.Meeting_id })';">
                @item.Meeting_name
            </li>
        }
    </ul>
</div>-->
<!---TabDanhMuc-->
<!--<div id="myjoymeeting" class="tabcontent active">
    <button type="button" class="btn btn-outline-success"
            style="margin-bottom:10px;font-size:larger;margin-top:10px"
            data-toggle="modal" data-target="#barChartModal">
        <ion-icon name="bar-chart-outline" style="width:40px;height:25px"></ion-icon>
    </button>
    <button type="button" class="btn btn-outline-warning"
            style="margin-bottom:10px;font-size:larger;margin-top:10px;margin-left:10px"
            data-toggle="modal" data-target="#pieChartModal">
        <ion-icon name="pie-chart-outline" style="width:40px;height:25px"></ion-icon>
    </button>
    <button type="button" class="btn btn-outline-info"
            style="margin-bottom:10px;font-size:larger;margin-top:10px;margin-left:10px"
            data-toggle="modal" data-target="#statisticTable">
        <ion-icon name="reader-outline" style="width:40px;height:25px"></ion-icon>
    </button>
    <ul class="catalogList">
        @foreach (var item in ViewBag.allCate)
        {
            <li onclick="location.href = '@Url.Action("Details","Categories", new { id = item.Category_id})';">
                @item.Category_Name
            </li>
        }
    </ul>
</div>-->
<!--TabCongViec-->
<!--<div id="mycremeeting" class="tabcontent">
<!--TabCongViec-->
<!--<div id="mycremeeting" class="tabcontent">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            @foreach (var meets in meetings)
            {
                <div class="panel-heading" role="tab" id="@meets.Meeting_id">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@(meets.Meeting_id + meets.Category_id)" aria-expanded="true" aria-controls="collapseOne">
                            @meets.Meeting_name
                        </a>
                    </h4>
                </div>
                <div id="@(meets.Meeting_id + meets.Category_id)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@meets.Meeting_id">
                    <div class="panel-body">

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @final%">
                                @final%(Completed)
                            </div>
                        </div>
                        @foreach (var task in tasks)
                        {
                            <div class="row" style="margin-left:10px;font-size:15px;">
                                <div class="col-md-3">
                                    @task.Task_name
                                </div>
                                <div class="col-md-3">
                                    @{
                                        var Asignee_name = db.AspNetUsers.SingleOrDefault(x => x.Id == task.Assignee).Full_name;
                                    }
                                    @Asignee_name
                                </div>
                                <div class="col-md-3">
                                    @Convert.ToDateTime(task.Task_Deadline).ToString("dd/MM/yyyy")
                                </div>
                                <div class="col-md-3" style="display:flex;float:right;">

                                    @if (task.Task_Status == true)
                                    {
                                        <div class="complete-status" style="width:50%;">Hoàn thành</div>
                                    }
                                    else
                                    {
                                        <span class="waiting-status" style="width:50%;">Chưa hoàn thành</span>
                                    }
                                    @if (task.Task_Status == false)
                                    {
                                        <a href="#">
                                            <ion-icon name="notifications-outline" style="width:30px;height:30px"></ion-icon>
                                        </a>
                                    }
                                    else
                                    {
                                        <ion-icon name="notifications-off-outline" style="width:30px;height:30px"></ion-icon>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

</div>-->
@*<div id="pendingMeetings" class="tab-pane fade">
            <br />
            <div id="pendingGrd">
                @foreach (var meets in meetings)
                {
                    <div class="panel-heading" role="tab" id="@meets.Meeting_id">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@(meets.Meeting_id + meets.Category_id)" aria-expanded="true" aria-controls="collapseOne">
                                @meets.Meeting_name
                            </a>
                        </h4>
                    </div>
                    <div id="@(meets.Meeting_id + meets.Category_id)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@meets.Meeting_id">
                        <div class="panel-body">

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @final%">
                                    @final%(Completed)
                                </div>
                            </div>
                            @foreach (var task in tasks)
                            {
                                <div class="row" style="margin-left:10px;font-size:15px;">
                                    <div class="col-md-3">
                                        @task.Task_name
                                    </div>
                                    <div class="col-md-3">
                                        @{
                                            var Asignee_name = db.AspNetUsers.SingleOrDefault(x => x.Id == task.Assignee).Full_name;
                                        }
                                        @Asignee_name
                                    </div>
                                    <div class="col-md-3">
                                        @Convert.ToDateTime(task.Task_Deadline).ToString("dd/MM/yyyy")
                                    </div>
                                    <div class="col-md-3" style="display:flex;float:right;">

                                        @if (task.Task_Status == true)
                                        {
                                            <div class="complete-status" style="width:50%;">Hoàn thành</div>
                                        }
                                        else
                                        {
                                            <span class="waiting-status" style="width:50%;">Chưa hoàn thành</span>
                                        }
                                        @if (task.Task_Status == false)
                                        {
                                            <a href="#">
                                                <ion-icon name="notifications-outline" style="width:30px;height:30px"></ion-icon>
                                            </a>
                                        }
                                        else
                                        {
                                            <ion-icon name="notifications-off-outline" style="width:30px;height:30px"></ion-icon>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>*@

@*.highcharts-figure bar, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #container-barchart {
        height: 400px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }*@