@model IEnumerable<MeetingManagement.Models.CATEGORY>
@{
    ViewBag.Title = "Index";
}

@*scroll show up, position not change*@
<style>
    .modal-open .yuki-login-info {
        margin-right: 16.8px;
    }

    .modal-open #yuki-nav-bar img {
        left: calc((100% - 58px)/2 - 16.8px/2);
    }

    .modal-open #option {
        right: calc(160px + 16.8px);
    }
</style>
<link href="~/Content/catalog-list.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/Meetings/meetingdetail.css" rel="stylesheet" />
<div class="body-navbar">

    <div class="nav-content-zone">

        <div class="lable-zone1">
            <div style="text-transform: uppercase;font-size:30px;margin-bottom:20px" ; class="header">
                <label>DANH MỤC</label>

                <button class="create-meeting-btn" onclick="ShowCreatePopUp()">Tạo</button>
            </div>

        </div>
    </div>
</div>


<div class="card-body card-body-fixed">
    <div id="time-table" class="user-ctg-index-table-zone">
        <div class="table user-ctg-index-table">
            @foreach (var item in Model)
            {
                <div style="display:flex;">
                    <h5 onclick="location.href = '@Url.Action("Details","Categories", new { id = item.Category_id})';">
                        @item.Category_Name
                    </h5>
                    <span id="option">
                        <i class="fa fa-ellipsis-h">
                            <ul class="sublist">
                                <li>
                                    <button onclick="ShowEditPopUp(@item.Category_id)" class="edit-btn" data-modal="modal1">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Sửa
                                    </button>
                                </li>
                                <li>
                                    <button onclick="ShowDeletePopUp(@item.Category_id)" class="delete-btn" data-modal="modald1">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            Xóa
                                        </button>
                                </li>
                                <li>
                                    <button onclick="ShowStatisticPopUp()" class="delete-btn" data-modal="modald1">
                                        <ion-icon name="bar-chart-outline" style="width:50px;height:20px"></ion-icon>
                                    </button>
                                </li>
                            </ul>
                        </i>
                    </span>
                </div>
            }
        </div>
    </div>
</div>

<div id="show-popup"></div>
<style>
    .create-meeting-btn {
        float: right;
        width: 90px;
        height: 45px;
        background-color: #009FE5;
        color: white;
        border-radius: 5px;
        font-size: 16px
    }

    .user-ctg-index-table div:hover {
        background-color: #66c2ff;
    }

    .user-ctg-index-table div p {
        font-weight: bold;
        font-size: 16px;
    }


    /*.user-ctg-index-table tbody tr:hover td {
                background-color: #f1f1f1;
            }*/
    

    .card-body-fixed {
        position: relative;
        top: 50px;
        width: 100%;
        height: 800px;
        z-index: 1;
    }

    .lable-zone1 {
       
        color: black;
        line-height: 40px;
    }
</style>

@*<i class="fa fa-ellipsis-h">
        <ul class="sublist">
            <li>
                <button onclick="ShowEditPopUp(@item.Category_id)" class="edit-btn" data-modal="modal1">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Sửa
                </button>
            </li>
            <li>
                <button onclick="ShowDeletePopUp(@item.Category_id)" class="delete-btn" data-modal="modald1">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Xóa
                </button>
            </li>
        </ul>
    </i>*@



<!--JS--->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript">
    function ShowCreatePopUp() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Categories")',
            data: {},
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#myCreateModal").appendTo("body").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
    function ShowEditPopUp(categoryID) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Categories")',
            data: { categoryID },
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#myEditModal").appendTo("body").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
    function ShowDeletePopUp(categoryID) {
        $("#loader-div")
        $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "Categories")',
            data: { id: categoryID },
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#myDeleteModal").appendTo("body").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
    function ShowStatisticPopUp(categoryID) {
        $("#loader-div")
        $.ajax({
            type: "GET",
            url: '@Url.Action("statisticChart", "Categories")',
            data: { id: categoryID },
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#barChartModal").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
</script>