@model IEnumerable<MeetingManagement.Models.CATEGORY>

@{
    ViewBag.Title = "Index";
}
@*<link href="~/Content/catalog-list.css" rel="stylesheet" />*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div id="container">
        <div class="user-ctg-index-header">
            <h2>Danh mục</h2>
            <button class="user-ctg-index-button" onclick="ShowCreatePopUp();">Tạo</button>
        </div>
        <div id="time-table" class="user-ctg-index-table-zone">
            <div class="table user-ctg-index-table">
                @foreach (var item in Model)
                {
                    <div>
                        <p>
                            @item.Category_Name
                        </p>
                        @*<button onclick="ShowEditPopUp(@item.Category_id)" class="edit-btn user-ctg-index-manipulation" data-modal="modal1">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Sửa
                            </button>
                            <button onclick="ShowDeletePopUp(@item.Category_id)" class="delete-btn user-ctg-index-manipulation" data-modal="modald1">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Xóa
                            </button>*@
                    </div>
                }
            </div>
        </div>
    </div>
</body>

<style>
    .user-ctg-index-table-zone {
        width: 1300px;
    }

    .user-ctg-index-table {
    }

        .user-ctg-index-table div {
            width: 100%;
            height: 50px;
            margin-bottom: 10px;
            /*background-color: #66c2ff;*/
            background-color: #e5e5e5;
            color: black;
            padding: 15px 50px;
            border-radius: 3px;
        }

            .user-ctg-index-table div:hover {
                background-color: #66c2ff;
            }

            .user-ctg-index-table div p {
                font-weight: bold;
                font-size: 16px;
            }


    /*.user-ctg-index-table tbody tr:hover td {
                background-color: #f1f1f1;
            }*/
    .user-ctg-index-button {
        float: right;
        width: 60px;
        height: 30px;
        background-color: #009FE5;
        color: white;
        border-radius: 5px;
        margin-top: -30px;
        border: 0px;
    }

    .user-ctg-index-header {
        width: 1300px;
        margin: 20px 0px;
    }

        .user-ctg-index-header h1, h2, h3, h4, h5, h6 {
            margin: 0px;
        }

    .user-ctg-index-manipulation {
        float: right;
        margin: 0px 2.5px;
        color: black;
    }
</style>

@*<i class="fa fa-ellipsis-h">
        <ul class="sublist">
            <li>
                <button onclick="ShowEditPopUp(@item.Category_id)" class="edit-btn" data-modal="modal1">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Sửa
                </button>
            </li>
            <li>
                <button onclick="ShowDeletePopUp(@item.Category_id)" class="delete-btn" data-modal="modald1">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Xóa
                </button>
            </li>
        </ul>
    </i>*@
<div id="show-popup"></div>


<script type="text/javascript">
    function ShowCreatePopUp() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Categories")',
            data: {},
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#myCreateModal").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
    function ShowEditPopUp(categoryID) {
        $.ajax({
            type: "GET",
            url: "Edit",
            data: { categoryID },
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#myEditModal").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
    function ShowDeletePopUp(categoryID) {
        $("#loader-div")
        $.ajax({
            type: "GET",
            url: "Delete",
            data: { id: categoryID },
            dataType: "html",
            success: function (data) {
                $("#show-popup").html(data);
                $("#myDeleteModal").modal("show");
            },
            error: function (data) {
                return false;
            }
        });
    };
</script>