@model IEnumerable<MeetingManagement.Models.statisticV>
@using MeetingManagement.Models
@{
    ViewBag.Title = "report";
    Layout = "~/Areas/HeadOfDepartment/Views/Shared/_Layout.cshtml";
    SEP24Team7Entities db = new SEP24Team7Entities();
    var meet = db.MEETINGs.ToList();
}
<!---CSS-->


<style>
    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #container {
        height: 800px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<!--Content-->
@*<input type="datetime-local" name="startdate" />
    <input type="datetime-local" name="enddate" id="enddate1" />*@
@*<select id="select">
    <option value="Jan">January</option>
    <option value="Feb">February</option>
    <option value="Mar">March</option>
    <option value="Apr">April</option>
    <option value="May">May</option>
    <option value="Jun">June</option>
    <option value="July">July</option>*@
@*    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>*@
@*</select>
    <input type="number" id="numData" />
    <button onclick="filterChart()">
        Xem
    </button>*@



@using (Html.BeginForm("statistic", "Categories", FormMethod.Get))
{
    <input type="date" name="batdau" />
    <input type="date" name="ketthuc" />
    <input type="submit" value="Xem" />
}


<div style="padding:10px;border:0.5px solid;margin-top:5px;border-radius:5px">
    <h3>Bảng thống kê cuộc họp theo ngày chọn </h3>
    <hr />
    <table class="table" id="table-sort">
        <thead style="color:white;background:#0094ff">
            <tr>
                <th scope="col">Tên cuộc họp</th>
                <th scope="col">Ngày tạo</th>
                @*                <th scope="col" >Người chủ trì</th>
                    <th scope="col" >Người duyệt</th>*@
                <th scope="col">Địa điểm</th>
                <th scope="col">Tình trạng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@Url.Action("MeetingDetail","Meetings", new { id = item.meetingId, modify = false })'"
                    style="cursor:pointer">
                    <td>
                        @item.meetingName
                    </td>
                    <td>
                        @Convert.ToDateTime(item.DateCre).ToString("MM/dd/yyyy")
                    </td>
                    @*                        <td>
                            @item.meetingHost
                        </td>
                        <td>
                            @item.meetingVerifyBy
                        </td>*@
                    <td>
                        @item.meetingLocaion
                    </td>
                    <td style="display:inline-block">
                        @if (@item.meetingStatus == 1)
                        {
                            <div class="pending-status">Tạo</div>
                        }
                        else if (@item.meetingStatus == 2)
                        {
                            <div class="waiting-status">Duyệt</div>
                        }
                        else if (@item.meetingStatus == 3)
                        {
                            <div class="missing-status">Đã họp</div>
                        }
                        else if (@item.meetingStatus == 4)
                        {
                            <div class="incomplete-status">Biên bản</div>
                        }
                        else if (@item.meetingStatus == 5)
                        {
                            <div class="complete-status">Hoàn thành</div>
                        }
                        else if (@item.meetingStatus == 6)
                        {
                            <div class="basic-status" style="background-color: #607d8b">Không duyệt</div>
                        }
                        else if (@item.meetingStatus == 7)
                        {
                            <div class="basic-status" style="background-color: #607d8b">Đã hủy</div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="padding:20px;border:0.5px solid;margin-top:5px;border-radius:5px">
    <h3>Biểu đồ cột</h3>
    <figure class="highcharts-figure">
        <div id="container-bar"></div>
    </figure>
</div>


<div style="padding:20px;border:0.5px solid;margin-top:5px;border-radius:5px">
    <h3>Biểu đồ cột</h3>
    <canvas id="myChart" width="200" height="100"></canvas>
</div>




<!--JS-->
<script src="https://rawgit.com/mholt/PapaParse/master/papaparse.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
@*<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<script>
    const chartData = [12, 19, 3, 5, 9, 10, 6];
    const chartColor = [
        '#48B763',
        '#4865B7',
        '#B7489C',
        '#B79A48',
        '#F04D13',
        '#F0E54A',
        '#F0B059',
    ];
    const chartLabel = [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
          @* 'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec' *@
    ];
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
    data: {
        labels: chartLabel,
        datasets: [{
            label: '# of Votes',
            data: chartData,
            backgroundColor: chartColor,
            borderWidth: 1
        }]
    },
        });
    function filterChart() {
        @*const mon = document.getElementById('select');*@
        const numData = document.getElementById('numData').value;
        const filterData = myChart.data.datasets[0].data.filter(value => value > numData);
        const filterLabel = [];
        const filterColor = [];
        let i = 0;
        for (i; i < filterData.length; i++) {
            const rsl = myChart.data.datasets[0].data.indexOf(filterData[i]);
            const labelrsl = myChart.data.labels[rsl];
            const colorrsl = myChart.data.datasets[0].backgroundColor[rsl];
            filterLabel.push(labelrsl);
            filterColor.push(colorrsl);
        }
        myChart.data.datasets[0].data = filterData;
        myChart.data.labels = filterLabel;
        myChart.data.datasets[0].backgroundColor = filterColor;
        myChart.update();

@*        const xdata = myChart.data.datasets[0].data.fil;
        console.log(xdata);
        const filterData = myChart.data.datasets[0].data.filter(value => value > 6);
        console.log(filterData);
        const mon = document.getElementById('select');
        myChart.data.labels(mon.value)*@

    }

</script>

<!--<!--JSBarChart-->
<script>
    const chartLabell = [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec'
    ];
    $(document).ready(function () {
        $.getJSON("/BCNTask/indexPieChart", function (data) {
            Highcharts.chart('container-bar', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Cuộc họp'
                },
@*                xAxis: {
                    categories: chartLabell,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    labels: {
                        overflow: 'justify'
                    }
                },*@
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Tạo cuộc họp',
                    data: [data.createM, data.cancelM, data.passM, data.doneM, data.reportM,
                    data.nopassM, data.compM]
                }]
            });
        });
    });
</script>


@*, {
                            name: 'Duyệt',
                            data: [data.passM]
                        }, {
                            name: 'Đã họp',
                            data: [data.doneM]
                        }, {
                            name: 'Biên bản',
                            data: [data.reportM]
                        }, {
                            name: 'Hoàn thành',
                            data: [data.compM]
                        }, {
                            name: 'Không duyệt',
                            data: [data.nopassM]
                        }, {
                            name: 'Đã huỷ',
                            data: [data.cancelM]
                        }*@