@model IEnumerable<MeetingManagement.Models.AspNetUser>
@using MeetingManagement.Models
@{
    var Role = ViewBag.Role as AspNetRole;
}

<div class="yuki-table-zone">
    <div class="yuki-table-out-header">
        <div class="yuki-table-title">
            <p>Danh sách tài khoản</p>
        </div>
        <ul class="yuki-column-4">
            <li class="yuki-col1">
                UserName
            </li>
            <li class="yuki-col2">
                Email
            </li>
            <li class="yuki-col3">
                Role
            </li>
            <li class="yuki-col4">
                Phân quyền
            </li>

        </ul>
    </div>
    <table>
        @foreach (var users in Model)
        {
            <tr class="yuki-column-4">
                <td>@users.UserName</td>
                <td>@users.Email</td>
                <td>
                    @foreach (var role in users.AspNetRoles)
                    {
                        @role.Name
                    }
                </td>
                <td>
                    <ul class="menu_thaotac">
                        @*<li>
                                <a href="@Url.Action("Delete",new { id = users.Id })">Delete</a>
                            </li>*@
                        <li>
                            @if (users.AspNetRoles.Count() == 0)
                            {
                                <a href="@Url.Action("Create","AspNetRoleUser",new { UserID = users.Id })">Add Role</a>
                            }
                        </li>
                        <li>
                            @foreach (var role in users.AspNetRoles)
                            {
                                <a type="submit"
                                   onclick="return confirm('Xoá role @role.Name cho @users.Email ?')"
                                   href="@Url.Action("Delete","AspNetRoleUser",new { RoleID = role.Id, UserID = users.Id  })">Delete role</a>
                            }
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </table>
    <div id="show-popup"></div>
</div>
<style>
    tr {
        height: 48px;
    }

    table ul li {
        display: inline;
    }

    ul > li span {
        font-size: 25px;
    }
</style>